{% extends "base.html" %}

{% load i18n %}
{% load staticfiles %}
{% block headers %}

    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'js/menubar.js' %}"></script>
{% endblock %}
{% block content %}
{#<div style="float: left; position:relative;     font-family: 'Satisfy', cursive;#}
{#    font-size: 3em"> {{ node.nom }} </div>#}

        {% include 'romani/nodes/menu_coops.html' %}
    <div style="float: left; position:relative;font-family: 'Satisfy', cursive;
    font-size: 2em">Editar Dia d'entrega &nbsp;</div>

<form method="post" action="">
  {% csrf_token %}
{#    <div style="margin: 0 auto; text-align:center;">#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'node_update' node.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Comandes rebudes" >#}
{#                                    <b id="pato" name="pato" class="pato">Editar Coope</b>#}
{#                                 </a>#}
{#                        </div>#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_nodesdates' node.pk %}" id="etq_selected" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Properes entregues" >#}
{#                                    <b id="pato" name="pato" class="pato">Dates d'entrega</b>#}
{#                                 </a>#}
{#                        </div>#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'nodeproductors_update' node.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productes" >#}
{#                                    <b id="pato" name="pato" class="pato">Escollir Productors</b>#}
{#                                 </a>#}
{#                        </div>#}
{#    </div>#}
    <br/><br/><br/>
{#    <a href="" id="pro_menu_selected">Editar dia d'entrega</a><br/>#}
    <a href="{% url 'franjahoraria_create' node.pk %}" id="pro_menu">Crear franja horària</a> <br/><br/>
  {{ form.as_p }}
  <input type="submit" name="create" value="Confirmar">
  <input type="submit" name="createagain" value="Confirmar i crear altre dia d'entrega">
</form>
{% endblock %}
