{% extends "base.html" %}

{% block content %}
<div style="float: left; position:relative;     font-family: 'Satisfy', cursive;
    font-size: 3em"> {{ node.nom }} </div>
{#    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>#}
{#    <script src="/ui/jquery.ui.datepicker.js"></script>#}


<form method="post" action="">
  {% csrf_token %}
    <div style="margin: 0 auto; text-align:center;">
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'node_update' node.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Comandes rebudes" >
{#                                    <span class="glyphicon glyphicon-folder-open" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Editar Node</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_nodesdates' node.pk %}" id="etq_selected" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Properes entregues" >
{#                                    <span class="glyphicon glyphicon-calendar" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Dates d'entrega</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'nodeproductors_update' node.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productes" >
{#                                    <span class="glyphicon glyphicon-pencil" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Escollir Productors</b>
                                 </a>
                        </div>
    </div>
    <br/><br/>
    <a href="" id="pro_menu_selected">Editar dia d'entrega</a><br/>
    <a href="{% url 'franjahoraria_create' node.pk %}" id="pro_menu">Crear franja horària</a> <br/><br/>
  {{ form.as_p }}
{#  <input type="text" id="datepicker" size="30">#}
  <input type="submit" value="Confirmar">
</form>
{% endblock %}
