{% extends "base.html" %}
{% csrf_token %}
{% block content %}

    <div style="margin: 0 auto; text-align:center;">
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'node_update' node.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Comandes rebudes" >
                                    <span class="glyphicon glyphicon-folder-open" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">
                                    </span>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>
                                    <b id="pato" name="pato" class="pato">Editar Node</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_nodesdates' node.pk %}" id="etq_selected" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Properes entregues" >
                                    <span class="glyphicon glyphicon-calendar" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">
                                    </span>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>
                                    <b id="pato" name="pato" class="pato">Dates d'entrega</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'nodeproductors_update' node.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productes" >
                                    <span class="glyphicon glyphicon-pencil" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">
                                    </span>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>
                                    <b id="pato" name="pato" class="pato">Escollir Productors</b>
                                 </a>
                        </div>
    </div>
    <br/>

    <a href="{% url 'export_comandes_xls' %}">Exportar comandes</a>

    <br/>
    {% if object_list %}<br/>
        Comandes: <br/>
     <table border="1" style="width: 100%; text-align: center; ">
     <th>Producte</th>
     <th>Lloc d'entrega</th>
     <th>[Cant Format]</th>
     <th>Data d'entrega</th>
     <th>Franja horària</th>
     <th>Preu</th>
     <th>Client</th>
     <th>Data de comanda</th>
        {% for link in object_list %}
{#            <form method="post" action="" class="vote_form">#}
{#              <li>#}

               <tr>
                        <td>[{{ link.producte.nom }}]</td>
                        <td>{{ link.lloc_entrega }}</td>
                        <td>[{{ link.cantitat }} &nbsp; {{ link.format.nom }}]</td>
                        <td>{{ link.dia_entrega.date }}</td>
                        <td>{{ link.franja_horaria}}</td>
                        <td>{{ link.preu }}€</td>
                        <td>{{ link.client.first_name }}</td>
                        <td>{{ link.data_comanda.date }}</td>
                    </tr>

{#              </li>#}
{#            </form>#}
{#            <br/>#}
        {% endfor %}
       </table>
     {% endif %}
    {% if contractes %}
        <br/>
        Contractes: <br/>
     <table border="1" style="width: 100%; text-align: center; ">
     <th>Producte</th>
     <th>Lloc d'entrega</th>
     <th>[Cant Format]</th>
     <th>Data d'entrega</th>
     <th>Franja horària</th>
     <th>Preu</th>
     <th>Client</th>
     <th>Data de comanda</th>
     <th>Freqüència</th>
        {% for link in contractes %}
{#            <form method="post" action="" class="vote_form">#}
{#              <li>#}

               <tr>
                        <td>[{{ link.producte.nom }}]</td>
                        <td>{{ link.lloc_entrega }}</td>
                        <td>[{{ link.cantitat }} &nbsp; {{ link.format.nom }}]</td>
                        <td>{{ link.prox_entrega.date }}</td>
                        <td>{{ link.franja_horaria}}</td>
                        <td>{{ link.preu }}€</td>
                        <td>{{ link.client.first_name }}</td>
                        <td>{{ link.data_comanda.date }}</td>
                        <td>{{ link.freq_txt }}</td>
                    </tr>

{#              </li>#}
{#            </form>#}
{#            <br/>#}
        {% endfor %}
       </table>
    {% endif %}
    {% if not object_list %}
        {% if not contractes %}
            Encara no hi ha comandes fetes per aquest dia d'entrega
            {% if not productes %}
                ni productes confirmats pels productors
            {% endif %}
        {% endif %}
    {% endif %}

    {% if productes %}
        <br/><br/>
     <p>Els següents productes estan disponibles el dia d'entrega seleccionat:</p>
        <table border="1">
        <th>Producte</th>
        <th>Productor</th>
        <th>Karma</th>
    {% for p in productes %}
        <tr><td>{{ p.nom }}</td><td>{{ p.productor }}</td><td>{{ p.karma_value }}</td></tr>
    {% endfor %}
        </table>
    <br/>
    {% endif %}

{% endblock %}