{% extends "base.html" %}
{% load staticfiles %}
{% csrf_token %}

{% block headers %}

<link href="{% static 'js/fullcalendar-3.3.1/fullcalendar.css' %}" rel="stylesheet">
{#    <script src='js/fullcalendar-3.3.1/lib/jquery.min.js'></script>#}
{#<script src='js/fullcalendar-3.3.1/lib/moment.min.js'></script>#}
{#    <script src='js/fullcalendar-3.3.1/fullcalendar.js'></script>#}
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
{#<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>#}
<script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>



{#  <meta charset="utf-8">#}
{#  <meta name="viewport" content="width=device-width, initial-scale=1">#}

{#  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">#}
{#  <link rel="stylesheet" href="/resources/demos/style.css">#}

{#  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>#}
{#  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>#}
{#<script>#}
{##}
{#  $( function() {#}
{#    #}
{#  } );#}
{##}
{#</script>#}


<script>


{#    $( "#dialog" ).dialog();#}


$(document).ready(function() {



    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
       aspectRatio: 3,
       eventSources: [
        {
            url: '/dis/' + {{ node.pk }} + '/Events/',
            editable: false,
            color: 'white',   // an option!
            textColor: 'green' // an option!
        }
{#           ,#}
{#        {#}
{#            url: '/pro/' + {{ productor.pk }} + '/cal2Events/',#}
{#            editable: false,#}
{#            color: 'green',   // an option!#}
{#            textColor: 'white' // an option!#}
{#        }#}
      ]
    })
    $( "#dialog" ).dialog({
  position: { my: "right bottom", at: "right bottom"},
        width: 500

});

});

</script>




{% endblock %}

{% block content %}

    <div style="margin: 0 auto; text-align:center;">
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'node_update' node.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Modificar node" >
                                    <span class="glyphicon glyphicon-folder-open" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">
                                    </span>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>
                                    <b id="pato" name="pato" class="pato">Editar Node</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_nodesdates' node.pk %}" id="etq_selected" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Properes entregues" >
                                    <span class="glyphicon glyphicon-calendar" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">
                                    </span>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>
                                    <b id="pato" name="pato" class="pato">Dates d'entrega</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'nodeproductors_update' node.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productes" >
                                    <span class="glyphicon glyphicon-pencil" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">
                                    </span>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>
                                    <b id="pato" name="pato" class="pato">Escollir Productors</b>
                                 </a>
                        </div>
    </div>    <br/>
    <div id="dialog" title="Basic dialog">
        <p>En el calendari van apareixent les dates d'entrega que has creat. La data d'entrega és el dia i les hores en que esta obert el Lloc d'entrega per a
        que els productors puguin portar els seus productes i la gent passi a recollir-los.</p>
    </div>
    <a href="{% url 'diaentrega_create' node.pk %}">Crear data d'entrega</a>

       <br/>

<div id='calendar'></div>
{#    <table border="1">#}
{#    <th>Producte</th>#}
{#    <th>Nodes a on arriba</th>#}
{#        {% for link in object_list %}#}
{#            <form method="post" action="" class="vote_form">#}
{#              <li>#}
{#                <tr><td>#}
{#<a href="">#}
{#                  [{{ link.nom }}]#}
{#                    </a>#}
{#                {% csrf_token %}#}
{#                <input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}" />#}
{#                <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />#}
{#                {% if not user.is_authenticated %}#}
{#                <button disabled title="Si us plau, login per votar">+</button>#}
{#                {% elif link.pk not in voted %}#}
{#                <button>+</button>#}
{#                {% else %}#}
{#                <button>-</button>#}
{#                {% endif %}#}
{#                </td>#}
{#                <td>#}
{#                    {{ link.productor }}#}
{#                  {% for aux in link.dies_entrega_futurs.all %}#}
{#                      <tr><td>#}
{#                      {% if link.dies_entrega in aux.dies_entrega.all %}#}
{#                      <a href="{% url 'node_comandes' aux.pk %}">#}
{#                    <b>{{ aux.date }}</b>#}
{#                      {% endif %}#}
{# /#}
{#                              {% for d in aux.franjes_horaries.all %}#}
{#                                  {{ d.inici }} - {{ d.final }} /#}
{#                              {% endfor %} </a>#}
{#                              <br/>#}
{#                      </td></tr>#}
{#                  {% endfor %}#}
{#                </td>#}
{#                  [{{ link.cantitat }} &nbsp; {{ link.format.nom }}] {{ link.data_entrega.date }} / {{ link.client.first_name }}#}
{#                </tr>#}
{#                <tr></tr>#}
{#              </li>#}
{#            </form>#}
{#            <br/>#}
{#        {% endfor %}#}
{#    </table>#}
{% endblock %}