{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block headers %}

    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'js/menubar.js' %}"></script>
{% endblock %}

{% block content %}

    {% include 'romani/nodes/menu_coops.html' %}
    <div style="float: left; position:relative;font-family: 'Satisfy', cursive;
    font-size: 2em">Seleccionar Productores &nbsp;</div>

    <br/><br/>

<form method="post">
{% csrf_token %}
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" >
                <div class="thumbnail" >
                  <div class="caption">
{% for field in form %}

        {% if field.name == "productors" %}

                {{ field.errors }}
                {{ field.label_tag }} {{ field }}

        {% endif %}

{% endfor %}
<p><input type="submit" value="Confirmar" /></p>
                                        </div>
                </div>
            </div>
</form>

{% endblock %}
