{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block headers %}

    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'js/menubar.js' %}"></script>
{% endblock %}
{% block content %}
    {% include 'romani/nodes/menu_coops.html' %}
{#    <div style="float: left; position:relative;font-family: 'Satisfy', cursive;#}
{#    font-size: 2em">Coops &nbsp;</div>#}
{#<div style="float: left; position:relative;     font-family: 'Satisfy', cursive;#}
{#    font-size: 3em"> {{ node.nom }} </div>#}

{#    <div style="margin: 0 auto; text-align:center;">#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'node_update' node.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Comandes rebudes" >#}
{#                                    <b id="pato" name="pato" class="pato">Editar Coope</b>#}
{#                                 </a>#}
{#                        </div>#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_nodesdates' node.pk %}" id="etq_selected" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Properes entregues" >#}
{#                                    <b id="pato" name="pato" class="pato">Dates d'entrega</b>#}
{#                                 </a>#}
{#                        </div>#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'nodeproductors_update' node.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productes" >#}
{#                                    <b id="pato" name="pato" class="pato">Escollir Productors</b>#}
{#                                 </a>#}
{#                        </div>#}
{#    </div>#}
    <br/><br/>
    <h3>{{ diaentrega.date }}:
    {% for d in diaentrega.franjes_horaries.all %}
        de {{ d.inici }} a {{ d.final }},
    {% endfor %}</h3>
    <a href="{% url 'export_comandes_xls' diaentrega.pk %}">Exportar comandes</a>

    <br/>

{% if object_list%}
         <table border="1" id="myTable" class="tablesorter" style="; position: relative; width: 100%">
         <thead>
             <tr>
             <th>Producte</th>
             <th>Productor</th>
             <th>Lloc d'entrega</th>
             <th>Cant</th>
             <th>Format</th>
             <th>Data d'entrega</th>
             <th>Franja horària</th>
             <th>Preu</th>
             <th>Usuari</th>
             <th>Freqüència</th>
             <th>Data de comanda</th>
             </tr>
         </thead>
         <tbody>
            {% for link in object_list %}
                   <tr>
                            <td>{{ link.comanda.format.producte.nom }}</td>
                            <td>{{ link.comanda.format.productor.nom }}</td>
                            <td>{{ link.dia_entrega.node }}</td>
                            <td>{{ link.comanda.cantitat }}</td>
                            <td>{{ link.comanda.format.nom }}</td>
                            <td>{{ link.dia_entrega.date }}</td>
                            <td>{{ link.franja_horaria }}</td>
                            <td>{{ link.comanda.preu }}€</td>
                            <td>{{ link.comanda.client.first_name }}</td>
                            <td>{{ link.comanda.frequencia.nom }}</td>
                            <td>{{ link.data_comanda.date }}</td>
                        </tr>
            {% endfor %}
             <tr>
                 <td>TOTAL</td><td></td><td></td><td></td><td></td><td></td><td></td><td>{{ preu_total }}€</td>
             </tr>
         </tbody>
           </table>
    {% endif %}
    {% if not object_list %}
            Encara no hi ha comandes fetes per aquest dia d'entrega
            {% if not formats %}
                ni productes confirmats pels productors
                <br/><br/><a href="{% url 'diaentrega_update' diaentrega.pk  %}">Modificar dia d'entrega</a>
            {% endif %}
    {% endif %}

        <br/><br/>
     <p>Els següents productes i formats estan disponibles el dia d'entrega seleccionat:</p>
        <table border="1">
        <th>Producte</th>
        <th>Format</th>
        <th>Productor</th>
        <th>Etiqueta</th>
    {% for p in formats %}
        <tr><td>{{ p.format.producte.nom }}</td><td>{{ p.format.nom }}</td><td>{{ p.format.productor }}</td><td>{{ p.format.producte.etiqueta }}</td></tr>
    {% endfor %}
        </table>
    <br/>

{% endblock %}