{% extends "base.html" %}
{% csrf_token %}
{% block content %}
<div style="float: left; position: relative;     font-family: 'Satisfy', cursive;
    font-size: 3em"> {{ node.nom }} </div>
    <br/>
{#    <div id="dialog" title="Benvingut">#}
{#    <p>A la secció dels Llocs d'entrega pots gestionar els punts dels quals ets responsable o crear-ne de nous.</p>#}
{#    </div>#}
    <a href="{% url 'node_create' %}" id="pro_menu">Crear Nou Lloc d'Entrega </a> <br/><br/>
        {% if object_list %}
        {% for link in object_list %}
            <form method="post" action="" class="vote_form">
              <li>
                  <a href="{% url 'vista_nodesdates' link.pk %}" id="pro_menu">
                  {{ link }}
                {% csrf_token %}
{#                <input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}" />#}
{#                <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />#}
{#                {% if not user.is_authenticated %}#}
{#                <button disabled title="Si us plau, login per votar">+</button>#}
{#                {% elif link.pk not in voted %}#}
{#                <button>+</button>#}
{#                {% else %}#}
{#                <button>-</button>#}
{#                {% endif %}#}


{#                  <b>{{ link.etiqueta.nom }}</b>#}
{#                  {% for aux in link.nodes.all %}#}
{#                    {{ aux }} /#}
{#                  {% endfor %}#}
{#                  [{{ link.cantitat }} &nbsp; {{ link.format.nom }}] {{ link.data_entrega.date }} / {{ link.client.first_name }}#}
                </a>
{#                  {{ link.responsable }}#}
              </li>
            </form>
            <br/>
        {% endfor %}
        {% else %}<br/>
        <p>Si ets responsable d'una cooperativa de consum que ja està creada a la xarxa, has de demanar al responsable actual del productor que editi el perfil i t'accepti com a responsable</p>
    {% endif %}
{% endblock %}