{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block headers %}

    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'js/menubar.js' %}"></script>
{% endblock %}
{% block content %}
<script>

    function openCity(evt, cityName) {
          // Declare all variables
          var i, tabcontent, tablinks;

          // Get all elements with class="tabcontent" and hide them
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }

          // Get all elements with class="tablinks" and remove the class "active"
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }

          // Show the current tab, and add an "active" class to the button that opened the tab
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }
</script>

    {% include 'romani/nodes/menu_coops.html' %}


    <br/><br/>
    <h3>{{ diaentrega.date }}:
    {% for d in diaentrega.franjes_horaries.all %}
        de {{ d.inici }} a {{ d.final }},
    {% endfor %}</h3>



    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks" onclick="openCity(event, 'Oferta')">Oferta</button>
      <button class="tablinks" onclick="openCity(event, 'Demanda')">Demanda</button>
    </div>




<!-- Tab content -->
<div id="Demanda" class="tabcontent">

    <a href="{% url 'export_comandes_xls' diaentrega.pk %}">Exportar comandes</a>

    <br/>

{% if object_list%}
         <table border="1" id="myTable" class="tablesorter" style="; position: relative; width: 100%">
         <thead>
             <tr>
             <th>Producte</th>
             <th>Productor</th>
             <th>Lloc d'entrega</th>
             <th>Cant</th>
             <th>Format</th>
             <th>Data d'entrega</th>
             <th>Franja horària</th>
             <th>Preu</th>
             <th>Usuari</th>
             <th>Freqüència</th>
             <th>Data de comanda</th>
             </tr>
         </thead>
         <tbody>
            {% for link in object_list %}
                   <tr>
                            <td>{{ link.comanda.format.producte.nom }}</td>
                            <td>{{ link.comanda.format.productor.nom }}</td>
                            <td>{{ link.dia_entrega.node }}</td>
                            <td>{{ link.comanda.cantitat }}</td>
                            <td>{{ link.comanda.format.nom }}</td>
                            <td>{{ link.dia_entrega.date }}</td>
                            <td>{{ link.franja_horaria }}</td>
                            <td>{{ link.comanda.preu }}€</td>
                            <td><a  href="{% url 'perfil' link.comanda.client.pk %}">
                                    {{ link.comanda.client.username }} </a></td>
                            <td>{{ link.comanda.frequencia.nom }}</td>
                            <td>{{ link.data_comanda.date }}</td>
                        </tr>
            {% endfor %}
             <tr>
                 <td>TOTAL</td><td></td><td></td><td></td><td></td><td></td><td></td><td>{{ preu_total }}€</td>
             </tr>
         </tbody>
           </table>
<br/><br/>
<p><b>Totals</b> per <b>productors</b>:</p>
         <table border="1" id="myTable" class="tablesorter" style="; position: relative; width: 100%">
                <thead>
                <tr>
                <th>Productor</th>
                <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for p, c in diaentrega.totals_productors %}
                    <tr>
                        <td>{{ p }}</td>
                        <td>{{ c }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    {% endif %}
    {% if not object_list %}
            Encara no hi ha comandes fetes per aquest dia d'entrega
            {% if not formats %}
                ni productes confirmats pels productors
                <br/><br/><a href="{% url 'diaentrega_update' diaentrega.pk  %}">Modificar dia d'entrega</a>
            {% endif %}
    {% endif %}
</div>

<div id="Oferta" class="tabcontent">
     <p>Els següents productes i formats estan disponibles el dia d'entrega seleccionat:</p>
        <table border="1">
        <th>Producte</th>
        <th>Format</th>
        <th>Productor</th>
        <th>Etiqueta</th>
    {% for p in formats %}
        <tr><td>{{ p.format.producte.nom }}</td><td>{{ p.format.nom }}</td><td>{{ p.format.productor }}</td><td>{{ p.format.producte.etiqueta }}</td></tr>
    {% endfor %}
        </table>
    </div>

{% endblock %}