{% extends "base.html" %}
{% load staticfiles %}

{% block headers %}

<script>
$(document).ready(function() {


    $('#calendar').fullCalendar({
           loading: function( isLoading, view ) {
            if(isLoading) {// isLoading gives boolean value
                document.getElementById( 'loading' ).style.display = 'block';
                document.getElementById('page-content-wrapper').style.visibility = 'hidden';
            } else {
                document.getElementById( 'loading' ).style.display = 'none';
                document.getElementById('page-content-wrapper').style.visibility = 'visible';
            }
        },
       eventSources: [
        {
            url: '/dis/' + {{ node.pk }} + '/Events/',
            editable: false,
            color: 'white',   // an option!
            textColor: 'green' // an option!
        }

      ]
    })

});
</script>
{% endblock %}

{% block content %}
    {% include 'romani/nodes/menu_coops.html' %}
    <br/><br/>
    <a href="{% url 'vista_nodesdates' node.pk %}" id="pro_menu_selected">Calendari</a>
    <a href="{% url 'diaentrega_create' node.pk %}" id="pro_menu">Nou dia d'entrega</a>
<a href="{% url 'franjahoraria_create' node.pk %}" id="pro_menu">Nova franja horària</a>

       <br/><br/>

<div id='calendar'></div>

{% endblock %}
