{% extends "base.html" %}
{% load staticfiles %}
{% block headers %}
{% endblock %}

{% block content %}
{#<div style="float: left; position:relative;     font-family: 'Satisfy', cursive;#}
{#    font-size: 3em"> {{ productor.nom }} </div>#}
{#    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>#}
{#    <script src="/ui/jquery.ui.datepicker.js"></script>#}
    {% include 'romani/productors/menu_pro.html' %}

    <!--<div style="float: left; position:relative;font-family: 'Satisfy', cursive;-->
    <!--font-size: 2em"> Carregar foto &nbsp;</div>--><br/><br/>
    <!--<a href="{% url 'vista_productes' productor.pk %}" id="pro_menu">Productes</a>-->
    <a href="{% url 'productor_update' productor.pk %}" id="pro_menu">Productora</a>
    <!--<a href="{% url 'producte_create' productor.pk %}" id="pro_menu">Nou Producte</a>-->
    <!--<a href="{% url 'format_create' productor.pk %}" id="pro_menu">Nou Format</a>-->
<a href="{% url 'adjuntsProductor' productor.pk %}" id="pro_menu">Fotos</a>
    <a  href="{% url 'adjunt_create' productor.pk %}" id="pro_menu_selected">Nova foto</a>
<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
    <br/>
    <br/>
  {{ form.as_p }}
{#  <input type="text" id="datepicker" size="30">#}
  <input type="submit" value="Grabar">
</form>
{% endblock %}
