{% extends "base.html" %}
{% load staticfiles %}
{% block headers %}
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'js/menubar.js' %}"></script>
{% endblock %}

{% block content %}
<div style="float:left; position:relative; margin-top: 90px">
        {% include 'romani/productors/menu_pro.html' %}

    <div style="float: left; position:relative;font-family: 'Satisfy', cursive;
    font-size: 2em">Nova Comanda &nbsp;</div>
<form method="post" action="">
  {% csrf_token %}

    <br/><br/>

  {{ form.as_p }}
  <input type="submit" value="Continuar">
</form>
</div>
{% endblock %}
