{% extends "base.html" %}
{% csrf_token %}
{% block content %}
<div style="float: left; position:absolute;     font-family: 'Satisfy', cursive;
    font-size: 3em"> {{ productor.nom }} </div>
    <div style="margin: 0 auto; text-align:center;">
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_comandes' productor.pk %}" id="etq_selected" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Comandes rebudes" >
{#                                    <span class="glyphicon glyphicon-folder-open" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Comandes rebudes</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_dates' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Properes entregues" >
{#                                    <span class="glyphicon glyphicon-calendar" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Dates d'entrega</b>
                                 </a>
                        </div>
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_llocs' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Llocs d'entrega" >#}
{#                                    <span class="glyphicon glyphicon-fullscreen" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
{#                                    <b id="pato" name="pato" class="pato">Llocs d'entrega</b>#}
{#                                 </a>#}
{#                        </div>#}
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_productes' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productes" >
{#                                    <span class="glyphicon glyphicon-pencil" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Editar productes</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'productor_update' productor.pk %}" id="etq"  class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productor" >
{#                                    <span class="glyphicon glyphicon-user" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Editar productor</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_historial' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Veure historial" >
{#                                    <span class="glyphicon glyphicon-book" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Veure historial</b>
                                 </a>
                        </div>
    </div>

    <div id="dialog" title="Bústia de comandes"><p>Aquí pots veure totes les comandes que t'han arribat i els contractes vigents. Recorda que les comandes són puntuals; i els contractes periòdics</p></div>

    <br/>
    {% if object_list or contractes %}<br/>
{#    Comandes: <br/>#}
     <table border="1" id="myTable" class="tablesorter " style="width: 100%;">
     <thead>
     <tr>
     <th>Producte</th>
     <th>Lloc d'entrega</th>
     <th>[Cant Format]</th>
     <th>Data d'entrega</th>
     <th>Franja horària</th>
     <th>Preu</th>
     <th>Usuari</th>
     <th>Freqüència</th>
     <th>Data de comanda</th>
     </tr>
     </thead>
     <tbody>
        {% for link in object_list %}
{#            <form method="post" action="" class="vote_form">#}
{#              <li>#}

               <tr>
                        <td>[{{ link.producte.nom }}]</td>
                        <td>{{ link.lloc_entrega }}</td>
                        <td>[{{ link.cantitat }} &nbsp; {{ link.format.nom }}]</td>
                        <td>{{ link.dia_entrega.date }}</td>
                        <td>{{ link.franja_horaria}}</td>
                        <td>{{ link.preu }}€</td>
                        <td>{{ link.client.first_name }}</td>
                        <td>Una sola vegada</td>
                        <td>{{ link.data_comanda.date }}</td>
               </tr>

{#              </li>#}
{#            </form>#}
{#            <br/>#}
        {% endfor %}


        {% for link in contractes %}
{#            <form method="post" action="" class="vote_form">#}
{#              <li>#}

               <tr>
                        <td>[{{ link.producte.nom }}]</td>
                        <td>{{ link.lloc_entrega }}</td>
                        <td>[{{ link.cantitat }} &nbsp; {{ link.format.nom }}]</td>
                        <td><a href="{% url 'contracte_detail' link.pk %}">{{ link.prox_entrega.date }} &nbsp; <span class="glyphicon glyphicon-calendar"></span></a></td>
                        <td>{{ link.franja_horaria}}</td>
                        <td>{{ link.preu }}€</td>
                        <td>{{ link.client.first_name }}</td>
                        <td><a href="{% url 'contracte_detail' link.pk %}">{{ link.frequencia }}</a></td>
                        <td>{{ link.data_comanda.date }}</td>
               </tr>
{#                </a>#}
{#              </li>#}
{#            </form>#}
{#            <br/>#}
        {% endfor %}






     </tbody>
       </table>
    {% endif %}
{#    {% if contractes %}#}
{#<br/>#}
{#    Contractes: <br/>#}
{#     <table style="width: 100%" id="myTable2" class="tablesorter" border="1">#}
{#     <thead>#}
{#     <tr>#}
{#     <th>Producte</th>#}
{#     <th>Lloc d'entrega</th>#}
{#     <th>[Cant Format]</th>#}
{#     <th>Pròxima data d'entrega</th>#}
{#     <th>Franja horària</th>#}
{#     <th>Preu</th>#}
{#     <th>Usuari</th>#}
{#     <th>Data de comanda</th>#}
{#     <th>Freqüència</th>#}
{#     </tr>#}
{#     </thead>#}
{#     <tbody>#}
{#        {% for link in contractes %}#}
{#            <form method="post" action="" class="vote_form">#}
{#              <li>#}
{##}
{#               <tr>#}
{#                        <td><a href="{% url 'contracte_detail' link.pk %}">[{{ link.producte.nom }}]</a></td>#}
{#                        <td>{{ link.lloc_entrega }}</td>#}
{#                        <td>[{{ link.cantitat }} &nbsp; {{ link.format.nom }}]</td>#}
{#                        <td><a href="{% url 'contracte_detail' link.pk %}">{{ link.prox_entrega.date }}</a></td>#}
{#                        <td>{{ link.franja_horaria}}</td>#}
{#                        <td>{{ link.preu }}€</td>#}
{#                        <td>{{ link.client.first_name }}</td>#}
{#                        <td>{{ link.data_comanda.date }}</td>#}
{#                        <td><a href="{% url 'contracte_detail' link.pk %}">{{ link.frequencia }}</a></td>#}
{#                    </tr>#}
{#</a>#}
{#              </li>#}
{#            </form>#}
{#            <br/>#}
{#        {% endfor %}#}
{#     </tbody>#}
{#       </table>#}
{#    {% endif %}#}


    <script>
        $.("#myTable").style()
        $.("#myTable").style()
    </script>
{% endblock %}