{% extends "base.html" %}
{% load staticfiles %}
{% block headers %}
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'js/menubar.js' %}"></script>
{% endblock %}
{% csrf_token %}
{% block content %}
<div style="float:left; position:relative; margin-top: 90px">
            {% include 'romani/productors/menu_pro.html' %}

    <div style="float: left; position:relative; font-family: 'Satisfy', cursive;
    font-size: 2em">Comandes rebudes &nbsp;</div>


    <br/><br/>


    <a href="{% url 'comanda_create' productor.pk %}" id="pro_menu">Crear nova comanda</a>

    {% if object_list %}<br/>
     <table border="1" id="myTable" class="tablesorter " style="width: 100%;">
     <thead>
     <tr>
     <th>Producte</th>
     <th>Lloc d'entrega</th>
     <th>Cant</th>
     <th>Format</th>
     <th>Data d'entrega</th>
     <th>Franja horària</th>
     <th>Preu</th>
     <th>Usuari</th>
     <th>Data de comanda</th>
     </tr>
     </thead>
     <tbody>
        {% for link in object_list %}

               <tr>
                        <td>{{ link.comanda.format.producte.nom }}</td>
                        <td>{{ link.dia_entrega.node }}</td>
                        <td>{{ link.comanda.cantitat }}</td>
                        <td>{{ link.comanda.format.nom }}</td>
                        <td>{{ link.dia_entrega.date|date:"d/m/Y" }}</td>
                        <td>{{ link.franja_horaria }}</td>
                        <td>{{ link.comanda.preu }}€</td>
                        <td>{{ link.comanda.client.first_name }}</td>
{#                        <td>{{ link.comanda.frequencia.nom }}</td>#}
                        <td>{{ link.data_comanda.date|date:"d/m/Y" }}</td>
               </tr>

        {% endfor %}


     </tbody>
       </table>
    {% endif %}
</div>
{% endblock %}