{% extends "base.html" %}
{% csrf_token %}
{% block content %}
<div style="float: left; position:absolute;     font-family: 'Satisfy', cursive;
    font-size: 3em"> {{ productor.nom }} </div>
    <div style="margin: 0 auto; text-align:center;">
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_comandes' productor.pk %}" id="etq_selected" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Comandes rebudes" >
{#                                    <span class="glyphicon glyphicon-folder-open" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Comandes rebudes</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_dates' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Properes entregues" >
{#                                    <span class="glyphicon glyphicon-calendar" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Calendari</b>
                                 </a>
                        </div>
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_llocs' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Llocs d'entrega" >#}
{#                                    <span class="glyphicon glyphicon-fullscreen" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
{#                                    <b id="pato" name="pato" class="pato">Llocs d'entrega</b>#}
{#                                 </a>#}
{#                        </div>#}
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_productes' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productes" >
{#                                    <span class="glyphicon glyphicon-pencil" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Editar productes</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'productor_update' productor.pk %}" id="etq"  class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productor" >
{#                                    <span class="glyphicon glyphicon-user" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Editar productor</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_historial' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Veure historial" >
{#                                    <span class="glyphicon glyphicon-book" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Veure historial</b>
                                 </a>
                        </div>
    </div>

    <div id="dialog" title="Bústia de comandes"><p>Aquí pots veure els dies d'entrega del contracte seleccionat</p></div>

    <br/><br/>
    <b>[{{ object }}] &nbsp; &nbsp; {{ object.cantitat }}&nbsp;{{ object.format.nom }} &nbsp; {{ object.format.preu }}€ &nbsp; {{ object.client }} &nbsp; [{{ object.lloc_entrega }}]</b><br/>
    <br/>
<p>Dies d'entrega seleccionats:</p>
    <ul>
    {% for d in object.dies_entrega.all %}
        <li>
        {{ d.date }}
        {% for i in d.franjes_horaries.all %}
            [{{ i.inici }} - {{ i.final }}]
        {% endfor %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}