{% extends "base.html" %}
{% load staticfiles %}
{% block headers %}
{% endblock %}

{% block content %}
    {% include 'romani/productors/menu_dis.html' %}

    <!--<div style="float: left; position:relative;font-family: 'Satisfy', cursive;-->
    <!--font-size: 2em"> Cooperatives &nbsp;</div>-->
<br/><br/>
{% if nodes %}
        {% for node in nodes %}
          <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" >
            <div class="thumbnail" >
              <a href="{% url 'node_detail'  node.pk %}">
              <div class="caption">
                     <b> Nom:</b> {{ node.nom }}
                  <br/><b>Correu:</b>
                  {% for c in  node.responsable.all %}
                       <br/> {{ c.email }}
                  {% endfor %}
                  <br/><b>Poble:</b> {{ node.poblacio }}
                  <br/><b>Frequència:</b>{{ node.frequencia }}
                  <br/><b>Reparto:</b> {{ node.a_domicili }}
                  <br/><b>NºUsuaris:</b> {{ node.user_profiles.count }}
                  <br/><b>Productors:</b><br/>
                    {% for p in  node.productors.all %}
                        {{ p.nom }} <br/>
                  {% endfor %}

                    <br/><br/>


            </div>
                  </a>
            </div>
    </div>
        {%  endfor %}
        {% endif %}
        {% if not nodes %}
                No hi ha cooperatives a la xarxa
                </br></br>
        {% endif %}




{% endblock %}