{% extends "base.html" %}
{% load staticfiles %}
{% csrf_token %}
{% block headers %}
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>
    <script type="text/javascript" src="{%  static 'js/fullcalendar-3.4.0/fullcalendar.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'js/menubar.js' %}"></script>
<script>

$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
{#       aspectRatio: 3,#}
       eventSources: [
        {
            url: '/pro/' + {{ productor.pk }} + '/calEvents/',
            editable: false,
            color: 'black',   // an option!
            textColor: 'white' // an option!
        }
           ,
        {
            url: '/pro/' + {{ productor.pk }} + '/cal2Events/',
            editable: false,
            color: 'green',   // an option!
            textColor: 'white' // an option!
        }
            ,
        {
            url: '/pro/' + {{ productor.pk }} + '/calProdEvents/',
            editable: false,
            color: 'pink',   // an option!
            textColor: 'white' // an option!
        }
      ]
    })

});

</script>
{% endblock %}

{% block content %}
    {% include 'romani/productors/menu_pro.html' %}

    <div style="float: left; position:relative;font-family: 'Satisfy', cursive;
    font-size: 2em">Calendari &nbsp;</div>

    <br/>

    <br/>
<a href="{% url 'diaproduccio_create' productor.pk %}" id="pro_menu">Nova producció (opcional)</a>
<div id='calendar'></div>

{% endblock %}