{% extends "base.html" %}
{% load staticfiles %}
{% csrf_token %}
{% block headers %}
{#        <link href="{% static 'js/fullcalendar-3.3.1/fullcalendar.css' %}" rel="stylesheet">#}
{#    <script src='js/fullcalendar-3.3.1/lib/jquery.min.js'></script>#}
{#<script src='js/fullcalendar-3.3.1/lib/moment.min.js'></script>#}
{#    <script src='js/fullcalendar-3.3.1/fullcalendar.js'></script>#}
{#<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>#}
{#<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>#}
{#<script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>#}
{#<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>#}
<script>

$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
       aspectRatio: 3,
       eventSources: [
        {
            url: '/pro/' + {{ productor.pk }} + '/calEvents/',
            editable: false,
            color: 'black',   // an option!
            textColor: 'white' // an option!
        }
           ,
        {
            url: '/pro/' + {{ productor.pk }} + '/cal2Events/',
            editable: false,
            color: 'green',   // an option!
            textColor: 'white' // an option!
        }
      ]
    })

});

</script>
{% endblock %}

{% block content %}
    <div style="margin: 0 auto; text-align:center;">
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_comandes' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Comandes rebudes" >
{#                                    <span class="glyphicon glyphicon-folder-open" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Comandes rebudes</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_dates' productor.pk %}" id="etq_selected" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Properes entregues" >
{#                                    <span class="glyphicon glyphicon-calendar" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Dates d'entrega</b>
                                 </a>
                        </div>
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_llocs' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Llocs d'entrega" >#}
{#                                    <span class="glyphicon glyphicon-fullscreen" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
{#                                    <b id="pato" name="pato" class="pato">Llocs d'entrega</b>#}
{#                                 </a>#}
{#                        </div>#}
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_productes' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productes" >
{#                                    <span class="glyphicon glyphicon-pencil" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Editar productes</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'productor_update' productor.pk %}" id="etq"  class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productor" >
{#                                    <span class="glyphicon glyphicon-user" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Editar productor</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_historial' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Veure historial" >
{#                                    <span class="glyphicon glyphicon-book" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Veure historial</b>
                                 </a>
                        </div>
    </div>
    <br/>
    <div id="dialog" title="Calendari d'entregues">
        <p>Clica sobre el dia d'entrega per seleccionar els productes que portaràs. En <b style="color: green">verd</b> estan pintats els dies en que <b style="color: green">SÍ</b> t'has compromés a portar productes,
        en <b style="color: black">negre</b> els que <b style="color: black">NO</b> has confirmat assistència</p>
    </div>

<div id='calendar'></div>

{#    <table border="1">#}
{#    <th>Producte</th>#}
{#    <th>Nodes a on arriba</th>#}
{#        {% for link in object_list %}#}
{#            <form method="post" action="" class="vote_form">#}
{#              <li>#}
{#                <tr><td>#}
{#<a href="{% url 'productedates_update' link.pk %}">#}
{#                  [{{ link.nom }}]</a>#}
{#                {% csrf_token %}#}
{#                <input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}" />#}
{#                <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />#}
{#                {% if not user.is_authenticated %}#}
{#                <button disabled title="Si us plau, login per votar">+</button>#}
{#                {% elif link.pk not in voted %}#}
{#                <button>+</button>#}
{#                {% else %}#}
{#                <button>-</button>#}
{#                {% endif %}#}
{#                </td>#}
{#                <td>#}
{#                    {{ link.productor }}#}
{#                  {% for aux in link.nodes %}#}
{#                      <tr><td>#}
{#                      {% if link.dies_entrega in aux.dies_entrega.all %}#}
{#                    <b>{{ aux }}</b>  <br/>#}
{#                      {% endif %}#}
{#                      {% for dia in aux.dies_entrega.all %}#}
{#                          {% if dia in link.dies_entrega.all %}#}
{#                            {{ dia.date }} /#}
{#                              {% for d in dia.franjes_horaries.all %}#}
{#                                  {{ d.inici }} - {{ d.final }} /#}
{#                              {% endfor %}#}
{#                              <br/>#}
{#                          {% endif %}#}
{#                      {% endfor %}#}
{#                      </td></tr>#}
{#                  {% endfor %}#}
{#                </td>#}
{#                  [{{ link.cantitat }} &nbsp; {{ link.format.nom }}] {{ link.data_entrega.date }} / {{ link.client.first_name }}#}
{#                </tr>#}
{#                <tr></tr>#}
{#              </li>#}
{#            </form>#}
{#            <br/>#}
{#        {% endfor %}#}
{#    </table>#}
{% endblock %}