{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block headers %}
{% endblock %}

{% block content %}

    <script>
    jQuery(document).ready(function($) {
        $("#checkAll").click(function () {

            $('input:checkbox').not(this).prop('checked', this.checked);
        })


        var selects = document.querySelectorAll('select');

        selects[0].addEventListener('change', function () {
        for (var i = 0; i < selects.length; i++) {
            selects[i].value = selects[0].value;
        }
 });
        })
function openCity(evt, cityName) {
          // Declare all variables
          var i, tabcontent, tablinks;

          // Get all elements with class="tabcontent" and hide them
          tabcontent = document.getElementsByClassName("tabcontent");
          for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
          }

          // Get all elements with class="tablinks" and remove the class "active"
          tablinks = document.getElementsByClassName("tablinks");
          for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
          }

          // Show the current tab, and add an "active" class to the button that opened the tab
          document.getElementById(cityName).style.display = "block";
          evt.currentTarget.className += " active";
        }
</script>




        {% include 'romani/productors/menu_pro.html' %}

    <!--<div style="float: left; position:relative;font-family: 'Satisfy', cursive;-->
    <!--font-size: 2em">Dia d'entrega &nbsp;</div>-->
<br/><br/>
    <a href="{% url 'vista_comandes' productor.pk %}" id="pro_menu">Comandes</a>
    <a href="{% url 'vista_dates' productor.pk %}" id="pro_menu">Calendari</a>
    <a href="{% url 'vista_historial' productor.pk %}" id="pro_menu">Historial</a>
    <a href="{% url 'comanda_create' productor.pk %}" id="pro_menu">Nova comanda</a>



<br/><br/>
        <p><b>{{ dia.date }}</b> a partir de les <b>{{ dia.franja_inici.inici }}</b> a <a href="{% url 'node_pro_detail' dia.node.pk %}"><b>{{ dia.node }}</b></a>:</p>









<!-- Tab links -->
<div class="tab">
  <button class="tablinks" onclick="openCity(event, 'Oferta')">Oferta</button>
  <button class="tablinks" onclick="openCity(event, 'Demanda')">Demanda</button>
</div>

<!-- Tab content -->
<div id="Oferta" class="tabcontent">
<form method="post" action="">
  {% csrf_token %}
<br/>

{{ formatstockform.management_form }}

<table border="1">


    <tr>
        <td><input type='checkbox' id='checkAll' title="Tots"> Seleccionar tot
        </td>
        <td>
                Tipus Stock:
            <select name="speed" id="speed">
              <option value="0">Límit per stock </option>
              <option value="1">Límit relatiu </option>
              <option value="2" selected="selected">Sense Límit</option>
            </select>
        </td>
        <td>
            Hores limit:
        </td>
    </tr>


    {% for f in formatstockform %}
    <tr>
    {#    {{ f.initial.format }}#}

    {#    {{ f.initial.format.nom }}#}


        {% if f.instance.format %}
                <td><input type="checkbox" name="formats" value="{{f.instance.format.pk}}" checked/><b> {{f.instance.format.nom}} &nbsp; &nbsp; {{f.instance.format.producte.nom}} </b>
        {% else %}
            {% if f.initial.format %}
                <td><input type="checkbox" name="formats" value="{{f.initial.format.pk}}"/><b> {{f.initial.format.nom}} {{f.initial.format.producte.nom}} </b>
            {% else %}
                <td>{{ f.format }}
            {% endif %}

        {% endif %}

        {{ f.id }}

        {{ f.dia.as_hidden }}
        {{ f.format.as_hidden }}
        </td>
        <td>{{ f.tipus_stock }}</td>
        <td>{{ f.hores_limit }}</td>
    </tr>
    {% endfor %}
</table>

  <input type="submit" name="create" value="Grabar">
  <input type="submit" name="createagain" value="Grabar i editar següent dia d'entrega">
</form>

</div>

<div id="Demanda" class="tabcontent">
    {% if comandes%}

        <a href="{% url 'pro_export_comandes_xls' productor.pk dia.pk %}">Exportar comandes</a>

     <table border="1" id="myTable" class="tablesorter" style="width: 100%">
     <thead>
     <tr>
     <th>Producte</th>
     <th>Cant</th>
     <th>Format</th>
     <th>Franja horària</th>
     <th>Preu</th>
     <th>Client</th>
{#     <th>Freqüència</th>#}
     <th>Data de comanda</th>
     </tr>
     </thead>
     <tbody>
        {% for link in comandes %}
               <tr>
                        <td>[{{ link.comanda.format.producte.nom }}]</td>
                        <td>{{ link.comanda.cantitat }}</td>
                        <td>{{ link.comanda.format.nom }}</td>
                        <td>{{ link.franja_horaria }}</td>
                        <td>{{ link.comanda.preu }}€</td>
                        <td><a  href="{% url 'perfil' link.comanda.client.pk %}">
                                    {{ link.comanda.client.username }} </a></td>
                        <td>{{ link.data_comanda.date|date:"d/m/Y" }}</td>
                    </tr>
        {% endfor %}
     <tr>
         <td>TOTAL</td><td>{{ cant_total }}</td><td></td><td></td><td>{{ preu_total }}€</td>
     </tr>
     </tbody>
       </table>



<br/><br/>
<p><b>Totals</b> per <b>productes</b>:</p>
         <table border="1" id="myTable2" class="tablesorter" style="; position: relative; width: 100%">
                <thead>
                <tr>
                <th>Producte</th>
                <th>Format</th>
                <th>Unitats</th>
                <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for p, f, c, t in totals_productes %}
                    <tr>
                        <td>{{ p }}</td>
                        <td>{{ f }}</td>
                        <td>{{ c }}</td>
                        <td>{{ t }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


    {% endif %}
</div>



{% endblock %}
