{% extends "base.html" %}

{% block headers %}


{#    <style>#}
{#    .shape {#}
{#      margin-left: 4em;#}
{#      margin-top: 2.5em;#}
{#      height: 8em;#}
{#      width: 8em;#}
{#      box-shadow: 4px 4px 8px;#}
{#      color: #ccc;#}
{#      background-repeat: no-repeat;#}
{#      background-size: 90%;#}
{#      background-position: 50%;#}
{#    }#}
{#    .circle, .pill {#}
{#      border-radius: 8em;#}
{#    }#}
{#    .pill, .rectangle {#}
{#      width: 16em;#}
{#    }#}
{#    .square, .circle {#}
{#      margin-left: 9em;#}
{#    }#}
{#    .border {#}
{#      border: 2px solid #333333;#}
{#    }#}
{#    .toggles {#}
{#      width: 200px;#}
{#    }#}
{#    .toggle-wrap, .shape {#}
{#      display: inline-block;#}
{#      vertical-align: top;#}
{#    }#}
{#    .controls {#}
{#      background: #ccc;#}
{#      padding: 1em;#}
{#      display: inline-block;#}
{#    }#}
{#  </style>#}
{% endblock %}

{% block content %}

    <script>
    jQuery(document).ready(function($) {
        $("#checkAll").click(function () {

            $('input:checkbox').not(this).prop('checked', this.checked);
        })


        var selects = document.querySelectorAll('select');

        selects[0].addEventListener('change', function () {
        for (var i = 0; i < selects.length; i++) {
            selects[i].value = selects[0].value;
        }
});
        })
    </script>

    <div>
    {% if message %}

            <div class="thumbnail" >
            <span class="glyphicon glyphicon-info-sign"></span>
                {{ message }}
            </br>
        </div>
    {% endif %}
    </div>

<div style="float: left; position:absolute;     font-family: 'Satisfy', cursive;
    font-size: 3em"> {{ productor.nom }} </div>
    <div style="margin: 0 auto; text-align:center;">
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_comandes' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Comandes rebudes" >
{#                                    <span class="glyphicon glyphicon-folder-open" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Comandes rebudes</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_dates' productor.pk %}" id="etq_selected" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Properes entregues" >
{#                                    <span class="glyphicon glyphicon-calendar" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Calendari</b>
                                 </a>
                        </div>
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_llocs' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Llocs d'entrega" >#}
{#                                    <span class="glyphicon glyphicon-fullscreen" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
{#                                    <b id="pato" name="pato" class="pato">Llocs d'entrega</b>#}
{#                                 </a>#}
{#                        </div>#}
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_productes' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productes" >
{#                                    <span class="glyphicon glyphicon-pencil" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Editar productes</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'productor_update' productor.pk %}" id="etq"  class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productor" >
{#                                    <span class="glyphicon glyphicon-user" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Editar productor</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_historial' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Veure historial" >
{#                                    <span class="glyphicon glyphicon-book" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Veure historial</b>
                                 </a>
                        </div>
    </div>
    <div id="dialog" title="Dia d'entrega"><p>
        Una vegada seleccionis els productes que portaràs el {{ dia.date }}, et podran fer comandes per aquest dia tots els usuaris de {{ dia.node.nom }}
    </p>
    <p>Les comandes que et facin per al dia i lloc indicats també les pots veure llistades aquí</p></div>
    <br/>
<form method="post" action="">
  {% csrf_token %}

{#  {{ form.as_p }}#}<br/>
<p><b>Productes</b> que portaràs el <b>{{ dia.date }}</b> a partir de les <b>{{ dia.franja_inici.inici }}</b> a <b>{{ dia.node }}</b>:</p>


{{ formatstockform.management_form }}

<table border="1">


    <tr>
        <td><input type='checkbox' id='checkAll' title="Tots"> Seleccionar tot
            <select name="speed" id="speed">
              <option value="0">Límit per producció [{{ dia_prod }}]</option>
              <option value="1">Límit per stock fixe </option>
              <option value="2" selected="selected">Sense Límit</option>
            </select>
        </td>
    </tr>


    {% for f in formatstockform %}
    <tr>
    {#    {{ f.initial.format }}#}

    {#    {{ f.initial.format.nom }}#}


        {% if f.instance.format %}
{#             <td><label>{{ f.instance.format.producte.nom }}</label></td>#}
{#            {% if f.instance %}#}
                <td><input type="checkbox" name="formats" value="{{f.instance.format.pk}}" checked/><b> {{f.instance.format.nom}} &nbsp; &nbsp; {{f.instance.format.producte.nom}} </b>
{#             {% else %}#}
{#             <td><input type="checkbox" name="formats" value="{{f.instance.format.pk}}"/><b> {{f.instance.format.nom}} &nbsp; &nbsp; {{f.instance.format.producte.nom}} </b>#}
{#            {% endif %}#}
{#                 {{ f.format }}#}
        {% else %}
{#             <td><label>{{ f.initial.format.producte.nom }}</label></td>#}
            {% if f.initial.format %}
                <td><input type="checkbox" name="formats" value="{{f.initial.format.pk}}"/><b> {{f.initial.format.nom}} {{f.initial.format.producte.nom}} </b>
            {% else %}
                <td>{{ f.format }}
            {% endif %}

        {% endif %}

{#        {% if not f.instance.pk %}#}
{#            {% if not f.initial.format %}#}
{#                {{ f.format }}#}
{#            {% endif %}#}
{#        {% endif %}#}

        {{ f.id }}
{#        {{ f.format }}#}
        {{ f.tipus_stock }}
        {{ f.dia.as_hidden }}
        {{ f.format.as_hidden }}
        </td>
    {#    {{ f.as_p }}#}

    {#    {{ f.tipus_stock }}#}
    {##}
    {#    {{ f.format }}#}
    {##}
    {#    {{ f.dia }}#}
    </tr>
    {% endfor %}
</table>


{#  <div class="toggle-wrap">#}
{#    <h3>3.) Customize</h3>#}
{#    <div class="toggles">#}
{#      <label for="color">Shadow</label>#}
{#      <input class="toggle brand-toggle" type="checkbox" name="color" id="color">#}
{#      <label for="border">Border</label>#}
{#      <input class="toggle" type="checkbox" name="border" id="border">#}
{#      <label for="background-color">Background</label>#}
{#      <input class="toggle brand-toggle" type="checkbox" name="background-color" id="background-color" checked>#}
{#      <label for="background-image">Background Image</label>#}
{#      <input class="toggle brand-toggle" type="checkbox" name="background-image" id="background-image" checked>#}
{#    </div>#}
{#  </div>#}



{#  <input type="text" id="datepicker" size="30">#}
  <input type="submit" value="Grabar">
</form>



{% if comandes or contractes%}

{#   <br/>    Comandes: <br/>#}
    <br/>
     <table border="1" id="myTable" class="tablesorter" style="width: 100%">
     <thead>
     <tr>
     <th>Producte</th>
     <th>Lloc d'entrega</th>
     <th>[Cant Format]</th>
     <th>Data d'entrega</th>
     <th>Franja horària</th>
     <th>Preu</th>
     <th>Client</th>
     <th>Freqüència</th>
     <th>Data de comanda</th>
     </tr>
     </thead>
     <tbody>
        {% for link in comandes %}
               <tr>
                        <td>[{{ link.format.producte.nom }}]</td>
                        <td>{{ link.dia_entrega.node }}</td>
                        <td>[{{ link.cantitat }} &nbsp; {{ link.format.nom }}]</td>
                        <td>{{ link.dia_entrega.date }}</td>
                        <td>{{ link.franja_horaria}}</td>
                        <td>{{ link.preu }}€</td>
                        <td>{{ link.client.first_name }}</td>
                        <td>Una sola vegada</td>
                        <td>{{ link.data_comanda.date }}</td>
                    </tr>
        {% endfor %}
        {% for link in contractes %}
               <tr>
                        <td><a href="{% url 'contracte_detail' link.pk %}">[{{ link.producte.nom }}]</a></td>
                        <td>{{ link.lloc_entrega }}</td>
                        <td>[{{ link.cantitat }} &nbsp; {{ link.format.nom }}]</td>
                        <td><a href="{% url 'contracte_detail' link.pk %}">{{ dia.date }} &nbsp; <span class="glyphicon glyphicon-calendar"></span></a></td>
                        <td>{{ link.franja_horaria}}</td>
                        <td>{{ link.preu }}€</td>
                        <td>{{ link.client.first_name }}</td>
                        <td><a href="{% url 'contracte_detail' link.pk %}">{{ link.frequencia }}</a></td>
                        <td>{{ link.data_comanda.date }}</td>
               </tr>
        {% endfor %}
     </tbody>
       </table>
    {% endif %}
{#    {% if contractes %}#}
{#    <br/>#}
{#    Contractes: <br/>#}
{#     <table border="1" id="myTable2" class="tablesorter" style="width: 100%">#}
{#     <thead><tr>#}
{#     <th>Producte</th>#}
{#     <th>Lloc d'entrega</th>#}
{#     <th>[Cant Format]</th>#}
{#     <th>Data d'entrega</th>#}
{#     <th>Franja horària</th>#}
{#     <th>Preu</th>#}
{#     <th>Client</th>#}
{#     <th>Data de comanda</th>#}
{#     <th>Freqüència</th>#}
{#     </tr>#}
{#     </thead>#}
{#     <tbody>#}
{#        {% for link in contractes %}#}
{#            <form method="post" action="" class="vote_form">#}
{#              <li>#}
{##}
{#               <tr>#}
{#                        <td><a href="{% url 'contracte_detail' link.pk %}">[{{ link.producte.nom }}]</a></td>#}
{#                        <td>{{ link.lloc_entrega }}</td>#}
{#                        <td>[{{ link.cantitat }} &nbsp; {{ link.format.nom }}]</td>#}
{#                        <td><a href="{% url 'contracte_detail' link.pk %}">{{ link.prox_entrega.date }}</a></td>#}
{#                        <td>{{ link.franja_horaria}}</td>#}
{#                        <td>{{ link.preu }}€</td>#}
{#                        <td>{{ link.client.first_name }}</td>#}
{#                        <td>{{ link.data_comanda.date }}</td>#}
{#                        <td><a href="{% url 'contracte_detail' link.pk %}">{{ link.freq_txt }}</a></td>#}
{#                    </tr>#}
{##}
{#              </li>#}
{#            </form>#}
{#            <br/>#}
{#        {% endfor %}#}
{#     </tbody>#}
{#       </table>#}
{#    {% endif %}#}
{% endblock %}
