{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block headers %}

    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'js/menubar.js' %}"></script>
{% endblock %}

{% block content %}

    <script>
    jQuery(document).ready(function($) {
        $("#checkAll").click(function () {

            $('input:checkbox').not(this).prop('checked', this.checked);
        })


        var selects = document.querySelectorAll('select');

        selects[0].addEventListener('change', function () {
        for (var i = 0; i < selects.length; i++) {
            selects[i].value = selects[0].value;
        }
 });
        })
    </script>




        {% include 'romani/productors/menu_pro.html' %}

    <div style="float: left; position:relative;font-family: 'Satisfy', cursive;
    font-size: 2em">Dia d'entrega &nbsp;</div>

    {% if comandes%}    <br/><br/>
        <p><b>Comandes</b> rebudes per al <b>{{ dia.date }}</b> a partir de les <b>{{ dia.franja_inici.inici }}</b> a <b>{{ dia.node }}</b>:</p>

        <a href="{% url 'pro_export_comandes_xls' productor.pk dia.pk %}">Exportar comandes</a>

     <table border="1" id="myTable" class="tablesorter" style="width: 100%">
     <thead>
     <tr>
     <th>Producte</th>
     <th>Cant</th>
     <th>Format</th>
     <th>Franja horària</th>
     <th>Preu</th>
     <th>Client</th>
{#     <th>Freqüència</th>#}
     <th>Data de comanda</th>
     </tr>
     </thead>
     <tbody>
        {% for link in comandes %}
               <tr>
                        <td>[{{ link.comanda.format.producte.nom }}]</td>
                        <td>{{ link.comanda.cantitat }}</td>
                        <td>{{ link.comanda.format.nom }}</td>
                        <td>{{ link.franja_horaria }}</td>
                        <td>{{ link.comanda.preu }}€</td>
                        <td><a  href="{% url 'perfil' link.comanda.client.pk %}">
                                    {{ link.comanda.client.username }} </a></td>
                        <td>{{ link.data_comanda.date|date:"d/m/Y" }}</td>
                    </tr>
        {% endfor %}
     <tr>
         <td>TOTAL</td><td>{{ cant_total }}</td><td></td><td></td><td>{{ preu_total }}€</td>
     </tr>
     </tbody>
       </table>



<br/><br/>
<p><b>Totals</b> per <b>productes</b>:</p>
         <table border="1" id="myTable2" class="tablesorter" style="; position: relative; width: 100%">
                <thead>
                <tr>
                <th>Producte</th>
                <th>Format</th>
                <th>Unitats</th>
                <th>Total</th>
                </tr>
                </thead>
                <tbody>
                {% for p, f, c, t in totals_productes %}
                    <tr>
                        <td>{{ p }}</td>
                        <td>{{ f }}</td>
                        <td>{{ c }}</td>
                        <td>{{ t }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>


    {% endif %}



    <br/>
<form method="post" action="">
  {% csrf_token %}
<br/>
<p><b>Productes</b> que ofereixes el <b>{{ dia.date }}</b> a partir de les <b>{{ dia.franja_inici.inici }}</b> a <b>{{ dia.node }}</b>:</p>


{{ formatstockform.management_form }}

<table border="1">


    <tr>
        <td><input type='checkbox' id='checkAll' title="Tots"> Seleccionar tot
        </td>
        <td>
                Tipus Stock:
            <select name="speed" id="speed">
              <option value="0">Límit per stock </option>
{#              <option value="1">Límit per stock fixe </option>#}
              <option value="2" selected="selected">Sense Límit</option>
            </select>
        </td>
        <td>
            Hores limit:
        </td>
    </tr>


    {% for f in formatstockform %}
    <tr>
    {#    {{ f.initial.format }}#}

    {#    {{ f.initial.format.nom }}#}


        {% if f.instance.format %}
{#             <td><label>{{ f.instance.format.producte.nom }}</label></td>#}
{#            {% if f.instance %}#}
                <td><input type="checkbox" name="formats" value="{{f.instance.format.pk}}" checked/><b> {{f.instance.format.nom}} &nbsp; &nbsp; {{f.instance.format.producte.nom}} </b>
{#             {% else %}#}
{#             <td><input type="checkbox" name="formats" value="{{f.instance.format.pk}}"/><b> {{f.instance.format.nom}} &nbsp; &nbsp; {{f.instance.format.producte.nom}} </b>#}
{#            {% endif %}#}
{#                 {{ f.format }}#}
        {% else %}
{#             <td><label>{{ f.initial.format.producte.nom }}</label></td>#}
            {% if f.initial.format %}
                <td><input type="checkbox" name="formats" value="{{f.initial.format.pk}}"/><b> {{f.initial.format.nom}} {{f.initial.format.producte.nom}} </b>
            {% else %}
                <td>{{ f.format }}
            {% endif %}

        {% endif %}

        {{ f.id }}

        {{ f.dia.as_hidden }}
        {{ f.format.as_hidden }}
        </td>
        <td>{{ f.tipus_stock }}</td>
        <td>{{ f.hores_limit }}</td>
    </tr>
    {% endfor %}
</table>

  <input type="submit" name="create" value="Grabar">
  <input type="submit" name="createagain" value="Grabar i editar següent dia d'entrega">
</form>




{% endblock %}
