{% extends "base.html" %}
{% load staticfiles %}
{% block headers %}
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'js/menubar.js' %}"></script>
{% endblock %}

{% block content %}


    {% include 'romani/productors/menu_pro.html' %}

    <div style="float: left; position:relative;font-family: 'Satisfy', cursive;
    font-size: 2em">Dia de Producció &nbsp;</div>

<form method="post" action="">
  {% csrf_token %}

<br/>
    &nbsp; És un afegit opcional a les funcions de lamassa.
    Óptim per a integrar la gestió del magatzem (no integrada x la massa), amb la gestió de les comandes (que ja fa lamassa).
    Si vols fer-ho servir,
    A continuació pots veure un llistat de tots els formats que produeixes amb {{productor.nom}},
    introdueix la data de producció, així com la data de caducitat.
    També has d'introduir les quantitats que produiràs de cada format. Ho pots fer amb cada productor
    del que siguis responsable. També, si vols, pots introduïr una cooperativa, això vol dir que la
    producció introduïda va íntegrament a aquesta cooperativa.
<br/><br/>
    &nbsp; Aleshores quan visitis el calendari per editar els dies d'entrega,
    en cada format que posis disponible en el dia d'entrega podràs triar la opció "límit per stock".
    Per cada format en que indiquis aquesta opció la web anirà a buscar el stock més antic
    que no hagi caducat encara. Si cada vegada que fas una producció que voldràs posar disponible
    per a lamassa l'introdueixes d'aquesta manera i ho ordenes d'igual forma en el magatzem,
    quan et facin comandes podràs saber de quin lot treure-ho, quants et queden de cada lot,
    podràs modificar també els stocks disponibles si es mermen unitats produïdes,
    o si pel que sigui les vols retirar.
<br/><br/>
    &nbsp; La gestió de magatzem guanya molta força quan es combina amb les opcions que ja tenim
    en els dies d'entrega. Està pensat per a facilitarnos la vida als productors, i dissenyat per
    a ser el més senzill possible en el seu ús habitual, pero és veritat que s'ha desenvolupar més
    la eina per facilitar-ho i explicar millor i en profunditat el concepte per a començar-ho a
    fer servir.
    Per a + info escriviu a: lamassaxarxa@gmail.com
<br/>
<table border="1">
<tr><td>{{ form.as_p }}
</td></tr>
    {{ stockform.management_form }}
    {% for f in stockform %}
<tr>
{#    {{ f.id }}#}
    <td>
    {% if f.instance.format %}
        <b>{{ f.instance.format.nom }}
        {{ f.instance.format.producte }}</b>
        {{ f.instance.format.preu }} €
{#        {{ f.format }}#}
    {% else %}
       {{ f.initial.format.nom}} {{ f.initial.format.producte.nom}} {{ f.initial.format.preu }}
{#        {{ f.instance.format.value }}#}
    {% endif %}</td>

<td>{{ f.id }}{{ f.format.as_hidden }}

    {% if f.instance.format %}
        Queden
        {{ f.instance.stock }} unitats</td>

    {% else %}
{{ f.as_p }} unitats</td>
    {% endif %}
{% if f.instance.format %}
    <td>
    &nbsp; {{ f.as_p }} unitats
    </td>

{% endif %}

    </tr>
        {% endfor %}
</table>
{#  <input type="submit" value="Grabar">#}
  <input type="submit" name="create" value="Confirmar">
  <input type="submit" name="createagain" value="Confirmar i crear altre dia de producció">

</form>


    {% if comandes %}

        <br/>
         <table border="1" id="myTable" class="tablesorter" style="width: 100%">
         <thead>
         <tr>
         <th>Producte</th>
         <th>Lloc d'entrega</th>
         <th>Cant</th>
         <th>Format</th>
         <th>Data d'entrega</th>
         <th>Franja horària</th>
         <th>Preu</th>
         <th>Client</th>
{#         <th>Freqüència</th>#}
         <th>Data de comanda</th>
         </tr>
         </thead>
         <tbody>
            {% for link in comandes %}
                   <tr>
                            <td>[{{ link.comanda.format.producte.nom }}]</td>
                            <td>{{ link.dia_entrega.node }}</td>
                            <td>{{ link.comanda.cantitat }}</td>
                            <td>{{ link.comanda.format.nom }}</td>
                            <td>{{ link.dia_entrega.date }}</td>
                            <td>{{ link.franja_horaria }}</td>
                            <td>{{ link.comanda.preu }}€</td>
                            <td><a  href="{% url 'perfil' link.comanda.client.pk %}">
                                    {{ link.comanda.client.username }} </a></td>
{#                            <td>{{ link.comanda.frequencia }}</td>#}
                            <td>{{ link.data_comanda.date }}</td>
                        </tr>
            {% endfor %}
         <tr>
             <td>TOTAL</td><td></td><td>{{ cant_total }}</td><td></td><td></td><td></td><td>{{ preu_total }}€</td>
         </tr>
         </tbody>
           </table>
    {% endif %}

    {% if stockform.errors %}
        <p>{{ form.non_field_errors }}</p>
    {% endif %}
{% endblock %}