
{% extends "base.html" %}
{% load staticfiles %}
{% block headers %}

{#    <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>#}
{#    <link href="{% static 'js/fullcalendar-3.4.0/fullcalendar.css' %}" rel="stylesheet">#}
{#    <script type="text/javascript" src="{%  static 'js/fullcalendar-3.4.0/fullcalendar.min.js' %}"></script>#}

{% endblock %}
{% block content %}
    <div style="float: left; position:relative">
        <a href="{% url 'productor_create' %}" id="pro_menu">Crear Nou Productor</a> <br/>
        {% if productors %}
        {% for link in productors %}
              <li style="display: inline">
                 &nbsp; &nbsp; <a href="{% url 'vista_dates' link.pk %}" title="Gestionar productor" id="pro_menu">
                    [{{ link.nom }}]
                 <span id="notification_count">
                        {{ link.comandes_count }}
                </span>
                </a>
                  <a href="{% url 'vista_comandes' link.pk %}" title="Veure comandes">
                      <span id="notification_count">
                        {{ link.comandes_count }}
                      </span>
                  </a>
              </li>
            <br/>
        {% endfor %}
    {% else %}
            <br/>
        <p>Si ets responsable d'un productor que ja està creat a la xarxa, has de demanar al responsable actual del productor que editi el perfil i t'accepti com a responsable</p>

    {% endif %}
    </div>

    <script>
    jQuery(document).ready(function($) {
        $("#checkAll").click(function () {

            $('input:checkbox').not(this).prop('checked', this.checked);
        })

        var selects = document.querySelectorAll('select');

        selects[0].addEventListener('change', function () {
        for (var i = 0; i < selects.length; i++) {
            selects[i].value = selects[0].value;
        }
});
        })
    </script>
     <div style="margin: 0 auto; text-align:center;">
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'productor_list' %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Comandes rebudes" >
                                    <b id="pato" name="pato" class="pato">Comandes rebudes</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'productor_cal_list' %}" id="etq_selected" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Properes entregues" >
                                    <b id="pato" name="pato" class="pato">Calendari</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'productor_hist_list' %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Veure historial" >
                                    <b id="pato" name="pato" class="pato">Veure historial</b>
                                 </a>
                        </div>
    </div>
    <br/>
<form method="post" action="">
  {% csrf_token %}
<p><b>Productes</b> que portaràs el <b>{{ dia.date }}</b> a partir de les <b>{{ dia.franja_inici.inici }}</b> a <b> {{ dia.node }} </b>:</p>
<p> &nbsp; &nbsp;

{{ formatstockform.management_form }}

<table border="1">


<tr><td><input type='checkbox' id='checkAll' title="Tots"> Seleccionar tot &nbsp;</td>
    <td> Tipus Stock:
        <select name="speed" id="speed">
          <option value="0">Límit per stock</option>
          <option value="2" selected="selected">Sense Límit</option>
        </select>
    </td>
    <td>Hores límit:</td>
    </tr>

    {% for f in formatstockform %}
    <tr>

        {% if f.instance.format %}
                <td><input type="checkbox" name="formats" value="{{f.instance.format.pk}}" checked/><b> {{f.instance.format.nom}} &nbsp; &nbsp; {{f.instance.format.producte.nom}} </b>
        {% else %}
            {% if f.initial.format %}
                <td><input type="checkbox" name="formats" value="{{f.initial.format.pk}}"/><b> {{f.initial.format.nom}} {{f.initial.format.producte.nom}} </b>
            {% else %}
                <td>{{ f.format }}
            {% endif %}

        {% endif %}
                    {{ f.id }}
                    {{ f.dia.as_hidden }}
                    {{ f.format.as_hidden }}
                </td>
                <td>{{ f.tipus_stock }}</td>
                <td>{{ f.hores_limit }}</td>
    </tr>
    {% endfor %}
</table>
  <input type="submit" name="create" value="Grabar">
  <input type="submit" name="createagain" value="Grabar i editar següent dia d'entrega">
</form>
<br/>
    {% if comandes %}
         <table border="1" id="myTable" class="tablesorter" style="; position: relative; width: 100%">
         <thead>
             <tr>
             <th>Producte</th>
             <th>Productor</th>
             <th>Cant</th>
             <th>Format</th>
             <th>Franja horària</th>
             <th>Preu</th>
             <th>Usuari</th>
             <th>Data de comanda</th>
             </tr>
         </thead>
         <tbody>
            {% for link in comandes %}
                   <tr>
                            <td>{{ link.comanda.format.producte.nom }}</td>
                            <td>{{ link.comanda.format.productor.nom }}</td>
                            <td>{{ link.comanda.cantitat }}</td>
                            <td>{{ link.comanda.format.nom }}</td>
                            <td>{{ link.franja_horaria }}</td>
                            <td>{{ link.comanda.preu }}€</td>
                            <td>{{ link.comanda.client.first_name }}</td>
                            <td>{{ link.data_comanda.date|date:"d/m/Y" }}</td>
                        </tr>
            {% endfor %}
             <tr>
                 <td>TOTAL</td><td></td><td>{{ cant_total }}</td><td></td><td></td><td>{{ preu_total }}€</td>
             </tr>
         </tbody>
           </table>
    {% endif %}

{% endblock %}
