{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block headers %}
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'js/menubar.js' %}"></script>
{% endblock %}
{% block content %}
    <script>
    jQuery(document).ready(function($) {
        $("#checkAll").click(function () {

            $('input:checkbox').not(this).prop('checked', this.checked);
        })

        var selects = document.querySelectorAll('select');

        selects[0].addEventListener('change', function () {
        for (var i = 0; i < selects.length; i++) {
            selects[i].value = selects[0].value;
        }
});
        })
    </script>

<div style="float:left; position:relative; margin-top: 90px">

{% include 'romani/productors/menu_dis.html' %}
    <div style="float: left; position:relative;font-family: 'Satisfy', cursive;
    font-size: 2em">Dia d'entrega &nbsp;</div>

    <br/>
    {% if comandes %}
        <br/>
        <p><b>Comandes</b> rebudes per el <b>{{ dia.date }}</b> a partir de les <b>{{ dia.franja_inici.inici }}</b> a <b> {{ dia.node }} </b>:</p>
            <a href="{% url 'dis_export_comandes_xls' dia.pk %}">Exportar comandes</a>
         <table border="1" id="myTable" class="tablesorter" style="; position: relative; width: 100%">
         <thead>
             <tr>
             <th>Producte</th>
             <th>Productor</th>
             <th>Cant</th>
             <th>Format</th>
             <th>Franja horària</th>
             <th>Preu</th>
             <th>Usuari</th>
             <th>Data de comanda</th>
             </tr>
         </thead>
         <tbody>
            {% for link in comandes %}
                   <tr>
                            <td>{{ link.comanda.format.producte.nom }}</td>
                            <td>{{ link.comanda.format.productor.nom }}</td>
                            <td>{{ link.comanda.cantitat }}</td>
                            <td>{{ link.comanda.format.nom }}</td>
                            <td>{{ link.franja_horaria }}</td>
                            <td>{{ link.comanda.preu }}€</td>
                            <td>{{ link.comanda.client.first_name }}</td>
                            <td>{{ link.data_comanda.date|date:"d/m/Y" }}</td>
                        </tr>
            {% endfor %}
             <tr>
                 <td>TOTAL</td><td></td><td>{{ cant_total }}</td><td></td><td></td><td>{{ preu_total }}€</td>
             </tr>
         </tbody>
           </table>
    {% endif %}


    <br/>

<form method="post" action="">
  {% csrf_token %}
<p><b>Productes</b> que ofereixes el <b>{{ dia.date }}</b> a partir de les <b>{{ dia.franja_inici.inici }}</b> a <b>{{ dia.node }}</b>:</p>

{{ formatstockform.management_form }}

<table border="1">


<tr><td><input type='checkbox' id='checkAll' title="Tots"> Seleccionar tot &nbsp;</td>
    <td> Tipus Stock:
        <select name="speed" id="speed">
          <option value="0">Límit per stock</option>
          <option value="2" selected="selected">Sense Límit</option>
        </select>
    </td>
    <td>Hores límit:</td>
    </tr>

    {% for f in formatstockform %}
    <tr>

        {% if f.instance.format %}
                <td><input type="checkbox" name="formats" value="{{f.instance.format.pk}}" checked/><b> {{f.instance.format.nom}} &nbsp; &nbsp; {{f.instance.format.producte.nom}} </b>
        {% else %}
            {% if f.initial.format %}
                <td><input type="checkbox" name="formats" value="{{f.initial.format.pk}}"/><b> {{f.initial.format.nom}} {{f.initial.format.producte.nom}} </b>
            {% else %}
                <td>{{ f.format }}
            {% endif %}

        {% endif %}
                    {{ f.id }}
                    {{ f.dia.as_hidden }}
                    {{ f.format.as_hidden }}
                </td>
                <td>{{ f.tipus_stock }}</td>
                <td>{{ f.hores_limit }}</td>
    </tr>
    {% endfor %}
</table>
  <input type="submit" name="create" value="Grabar">
  <input type="submit" name="createagain" value="Grabar i editar següent dia d'entrega">
</form>

</div>
{% endblock %}
