{% extends "base.html" %}
{% load staticfiles %}
{% csrf_token %}
{% block headers %}
{#    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>#}
{#<script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>#}
{#    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />#}
{#    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">#}
{#  <style>#}
{#  .ui-menu {#}
{#    width: 200px;#}
{#  }#}
{#  </style>#}
{#<link rel="stylesheet" href=http://code.jquery.com/ui/1.8.19/themes/base/jquery-ui.css">#}
{#<link rel="stylesheet" href="http://view.jqueryui.com/menubar/themes/base/jquery.ui.menu.css">#}
{#<link rel="stylesheet" href="http://view.jqueryui.com/menubar/themes/base/jquery.ui.menubar.css">#}
{#    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">#}
{#    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>#}
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'js/menubar.js' %}"></script>


{% endblock %}
{% block content %}

{% include 'romani/productors/menu_pro.html' %}

    <div style="float: left; position:relative;font-family: 'Satisfy', cursive;
    font-size: 2em"> Historial &nbsp;</div>
{#    <div style="margin: 0 auto; text-align:center;">#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_comandes' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Comandes rebudes" >#}
{#                                    <b id="pato" name="pato" class="pato">Comandes rebudes</b>#}
{#                                 </a>#}
{#                        </div>#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_dates' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Properes entregues" >#}
{#                                    <b id="pato" name="pato" class="pato">Calendari</b>#}
{#                                 </a>#}
{#                        </div>#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_productes' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productes" >#}
{#                                    <b id="pato" name="pato" class="pato">Editar productes</b>#}
{#                                 </a>#}
{#                        </div>#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'productor_update' productor.pk %}" id="etq"  class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productor" >#}
{#                                    <b id="pato" name="pato" class="pato">Editar productor</b>#}
{#                                 </a>#}
{#                        </div>#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_historial' productor.pk %}" id="etq_selected" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Veure historial" >#}
{#                                    <b id="pato" name="pato" class="pato">Veure historial</b>#}
{#                                 </a>#}
{#                        </div>#}
{#    </div>#}
    {% if object_list %}
    <br/><br/>
        <table border="1" id="myTable" class="tablesorter" style="width: 100%; text-align: center; ">
        <thead>
        <tr>
         <th>Producte</th>
         <th>Lloc d'entrega</th>
         <th>Cant</th>
         <th>Format</th>
         <th>Data d'entrega</th>
         <th>Franja horària</th>
         <th>Preu</th>
         <th>Client</th>
         <th>Data Comanda</th>
        </tr>
         </thead>
        <tbody>
            {% for link in object_list %}
                   <tr>
                            <td>{{ link.comanda.format.producte.nom }}</td>
                            <td>{{ link.dia_entrega.node }}</td>
                            <td>{{ link.comanda.cantitat }}</td>
                            <td>{{ link.comanda.format.nom }}</td>
                            <td>{{ link.dia_entrega.date|date:"d/m/Y" }}</td>
                            {% if link.franja_horaria %}
                            <td>{{ link.franja_horaria }}</td>
                            {% else %}
                                <td>{{ link.dia_entrega.franja_inici }}-{{ link.dia_entrega.franja_final }}</td>
                            {% endif %}
                            <td>{{ link.comanda.preu }}€</td>
                            <td>{{ link.comanda.client.first_name }}</td>
                            <td>{{ link.data_comanda.date|date:"d/m/Y" }}</td>
                        </tr>

            {% endfor %}
        </tbody>
           </table>
    {% endif %}
{% endblock %}