{% extends "base.html" %}
{% load staticfiles %}
{% block headers %}


{% endblock %}
{% block content %}

{% include 'romani/productors/menu_pro.html' %}
    <br/><br/>

    <!--<div style="float: left; position:relative;font-family: 'Satisfy', cursive;-->
    <!--font-size: 2em"> Historial &nbsp;</div>-->
    <a href="{% url 'vista_comandes' productor.pk %}" id="pro_menu">Comandes</a>
    <a href="{% url 'vista_dates' productor.pk %}" id="pro_menu">Calendari</a>
    <a href="{% url 'vista_historial' productor.pk %}" id="pro_menu_selected">Historial</a>
    <!--<a href="{% url 'comanda_create' productor.pk %}" id="pro_menu">Nova comanda</a>-->
    <a href="{% url 'graph' productor.pk %}" id="pro_menu">Gràfiques</a>
    <br/><br/>
    {% if comandes %}





        <div style="overflow-x:auto;">
                {% for c in comandes %}
            <a href="{% url 'data_comandes' productor.pk c.dia_pk %}">
            <b>{{c.node}} / {{ c.dia }}</b>
            </a>
            <br/>
            <ul style="list-style-type:disc">
            {% for v in c.entregas %}
<li>
             {{v.cantitat}} &nbsp; {{v.format}} &nbsp; {{ v.producte }} &nbsp; {{v.productor}} &nbsp;
    <a  href="{% url 'perfil' v.user.pk %}">
    {{v.user}}
    </a> &nbsp;
    {{v.preu}}
    <a type="button" class="glyphicon glyphicon-info-sign" href="{% url 'diesEntrega' v.pk '0' %}" title="llegir més"></a>
&nbsp;
    <!--<a class="glyphicon glyphicon-remove" type="button" href="{% url 'entregaDelete' v.entrega_pk  %}"-->
                           <!--title="Borrar comanda"-->
                           <!--onclick="return confirm('Segur que vols borrar la comanda?')">-->
                                <!--</a>-->
</li>
              {% endfor %}
              <br/>Total:  {{c.total}}
</ul>
              {%  endfor %}
        </div>
<!--<a href="{% url 'graph' productor.pk %}" >-->
                        <!--<div style="width: auto">-->
                            <!--<img src="{% url 'graph' productor.pk %}"/>-->
                        <!--</div>-->
                    <!--</a><br/><br/>-->
        <!--<table border="1" id="myTable" class="tablesorter" style="width: 100%; text-align: center; ">-->
        <!--<thead>-->
        <!--<tr>-->
         <!--<th>Producte</th>-->
         <!--<th>Lloc d'entrega</th>-->
         <!--<th>Cant</th>-->
         <!--<th>Format</th>-->
         <!--<th>Data d'entrega</th>-->
         <!--<th>Franja horària</th>-->
         <!--<th>Preu</th>-->
         <!--<th>Client</th>-->
         <!--<th>Data Comanda</th>-->
        <!--</tr>-->
         <!--</thead>-->
        <!--<tbody>-->
            <!--{% for link in object_list %}-->
                   <!--<tr>-->
                            <!--<td>{{ link.comanda.format.producte.nom }}</td>-->
                            <!--<td>{{ link.dia_entrega.node }}</td>-->
                            <!--<td>{{ link.comanda.cantitat }}</td>-->
                            <!--<td>{{ link.comanda.format.nom }}</td>-->
                            <!--<td>{{ link.dia_entrega.date|date:"d/m/Y" }}</td>-->
                            <!--{% if link.franja_horaria %}-->
                            <!--<td>{{ link.franja_horaria }}</td>-->
                            <!--{% else %}-->
                                <!--<td>{{ link.dia_entrega.franja_inici }}-{{ link.dia_entrega.franja_final }}</td>-->
                            <!--{% endif %}-->
                            <!--<td>{{ link.comanda.preu }}€</td>-->
                            <!--<td><a  href="{% url 'perfil' link.comanda.client.pk %}">-->
                                    <!--{{ link.comanda.client.username }} </a></td>-->
                            <!--<td>{{ link.data_comanda.date|date:"d/m/Y" }}</td>-->
                        <!--</tr>-->

            <!--{% endfor %}-->
        <!--</tbody>-->
           <!--</table>-->
    {% endif %}
{% if not comandes %}
                No hi ha comandes encara
        {% endif %}
{% endblock %}