{% extends "base.html" %}
{% load staticfiles %}
{% csrf_token %}
{% block headers %}

    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'js/menubar.js' %}"></script>


{% endblock %}
{% block content %}

{% include 'romani/productors/menu_pro.html' %}

    <div style="float: left; position:relative;font-family: 'Satisfy', cursive;
    font-size: 2em"> Historial &nbsp;</div>

    {% if object_list %}
    <br/><br/>
<a href="{% url 'graph' productor.pk %}" >
                        <div style="width: auto">
                            <img src="{% url 'graph' productor.pk %}"/>
                        </div>
                    </a><br/><br/>
        <table border="1" id="myTable" class="tablesorter" style="width: 100%; text-align: center; ">
        <thead>
        <tr>
         <th>Producte</th>
         <th>Lloc d'entrega</th>
         <th>Cant</th>
         <th>Format</th>
         <th>Data d'entrega</th>
         <th>Franja horària</th>
         <th>Preu</th>
         <th>Client</th>
         <th>Data Comanda</th>
        </tr>
         </thead>
        <tbody>
            {% for link in object_list %}
                   <tr>
                            <td>{{ link.comanda.format.producte.nom }}</td>
                            <td>{{ link.dia_entrega.node }}</td>
                            <td>{{ link.comanda.cantitat }}</td>
                            <td>{{ link.comanda.format.nom }}</td>
                            <td>{{ link.dia_entrega.date|date:"d/m/Y" }}</td>
                            {% if link.franja_horaria %}
                            <td>{{ link.franja_horaria }}</td>
                            {% else %}
                                <td>{{ link.dia_entrega.franja_inici }}-{{ link.dia_entrega.franja_final }}</td>
                            {% endif %}
                            <td>{{ link.comanda.preu }}€</td>
                            <td><a  href="{% url 'perfil' link.comanda.client.pk %}">
                                    {{ link.comanda.client.username }} </a></td>
                            <td>{{ link.data_comanda.date|date:"d/m/Y" }}</td>
                        </tr>

            {% endfor %}
        </tbody>
           </table>
    {% endif %}
{% endblock %}