    <ul id="menubar" style="font-family: 'Special Elite', cursive;">
  <li>Totes
  <ul>
      <li><a href="{% url 'productor_list' %}">Comandes</a></li>
      <li><a href="{% url 'productor_cal_list' %}">Calendari</a></li>
      <li><a href="{% url 'productor_hist_list' %}">Historial</a></li>
      <li><a href="{% url 'productor_create' %}">Crear nova productora</a></li>
    </ul>
  </li>
  {% if productors %}
        {% for link in productors %}
  {% if link == productor %}
  <li style="background-color: #000; color: #f6a828;">
      {% else %}
      <li>
      {% endif %}
      {{ link.nom }}
    <ul>
      <li>Comandes
                      <span id="notification_count">
                        {{ link.comandes_count }}
                      </span>
          <ul>
              <li><a href="{% url 'vista_comandes' link.pk %}">Consultar Comandes</a></li>
              <li><a href="{% url 'comanda_create' link.pk %}">Crear nova comanda</a></li>
              <li><a href="{% url 'vista_historial' link.pk %}">Historial</a></li>
          </ul>
      </li>
      <li>Calendari
          <ul>
              <li><a href="{% url 'vista_dates' link.pk %}">Editar Calendari</a></li>
              <li><a href="{% url 'diaproduccio_create' link.pk %}">Nova producció(opcional)</a></li>
          </ul>
      </li>
      <li>Productes
          <ul>
              <li><a href="{% url 'vista_productes' link.pk %}">Editar Productes i Formats</a></li>
              <li><a href="{% url 'producte_create' link.pk %}">Crear nou producte</a></li>
              <li><a href="{% url 'format_create' link.pk %}">Crear nou format</a></li>
          </ul>
      </li>
      <li>Productora
        <ul>
            <li><a href="{% url 'productor_update' link.pk %}">Info Productora</a></li>
            <li><a href="{% url 'adjuntsProductor' link.pk %}">Fotos Productora</a></li>
        </ul>
      </li>
    </ul>
  </li>
        {% endfor %}
    {% endif %}
</ul>
<script>
$("#menubar").menubar();
</script>