{% extends "base.html" %}
{% csrf_token %}
{% block content %}

    <div style="margin: 0 auto; text-align:center;">
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_comandes' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Comandes rebudes" >
{#                                    <span class="glyphicon glyphicon-folder-open" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Comandes rebudes</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_dates' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Properes entregues" >
{#                                    <span class="glyphicon glyphicon-calendar" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Dates d'entrega</b>
                                 </a>
                        </div>
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_llocs' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Llocs d'entrega" >#}
{#                                    <span class="glyphicon glyphicon-fullscreen" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
{#                                    <b id="pato" name="pato" class="pato">Llocs d'entrega</b>#}
{#                                 </a>#}
{#                        </div>#}
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_productes' productor.pk %}" id="etq_selected" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productes" >
{#                                    <span class="glyphicon glyphicon-pencil" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Editar productes</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'productor_update' productor.pk %}" id="etq"  class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productor" >
{#                                    <span class="glyphicon glyphicon-user" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Editar productor</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'vista_historial' productor.pk %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Veure historial" >
{#                                    <span class="glyphicon glyphicon-book" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
                                    <b id="pato" name="pato" class="pato">Veure historial</b>
                                 </a>
                        </div>
    </div>

    <div id="dialog" title="Gestió de productes"><p>Edita els productes (ex: Pa d'espelta, Pa de Llavors) i els formats (ex: 1/2 kilo, 1 kilo). Pots associar tants Formats com vulguis a cada Producte.
        Pots crear-ne de nous o modificar els ja existents.</p>
    <p>A més a més, a l'editar el Format pots indicar quin número d'unitats pots proveïr del format en qüestió. També, al editar el producte pots indicar marcant o desmarcant el camp "esgotat"
    si el producte està disponible. Així pots començar a gestionar el stock</p>
    <p>
        A cada producte hi pots editar la informació que veurà l'usuari. Foto, textos, etiqueta, les paraules clau que utilitzarà el buscador...
    </p></div>

    <br/>

    <a href="{% url 'producte_create' productor.pk %}">Crear Nou Producte</a> <br/>
    <a href="{% url 'format_create' productor.pk %}">Crear Nou Format</a> <br/><br/>
    Llistat de productes amb els seus respectius formats:
{#    <table border="1">#}
    <div id=accordion>

        {% for link in object_list %}

{#            <tr>#}
{#            <form method="post" action="" class="vote_form">#}
{#              <td>#}
                <h3>
                  <a href="{% url 'producte_update' link.pk %}">
                  <b>{{ link.nom }}</b>
                </a></h3>

{#              </td>#}
{#            </form>#}
{#            <br/>#}
{#                </tr>#}
{#            <tr>#}
{#            <td></td>#}
                <div>
                <a type="button" href="{% url 'producte_update' link.pk %}">Editar Producte</a><br/><br/>

                <p>Editar Formats:</p>
                <table id="myTable" class="tablesorter">
                <thead>
                <tr>
                <th>Nom</th>
                <th>Preu</th>
                <th>Stock</th>
                <th>Productes amb el mateix format:</th>
                </tr>
                </thead>
                <tbody>
                {% for f in link.formats.all %}
            <tr>
                    <td>
            <a href="
                  {% url 'format_update' f.pk %}
                  " style="color: white;">
                  {{ f.nom }}
                </a>
                    </td>
            <td>
                <a href="
                  {% url 'format_update' f.pk %}
                  " style="color: white;">
                {{ f.preu }}</a>
            </td>
            <td>
                <a href="
                  {% url 'format_update' f.pk %}
                  " style="color: white;">
                {{ f.stock }}</a>
            </td>
            <td>
                <a href="
                  {% url 'format_update' f.pk %}
                  " style="color: white;">
                {% for p in f.producte.all %}

                    [{{ p.nom }}]

                {% endfor %}
                </a>
                </td>
            </tr>
                {% endfor %}
                </tbody>
                </table>
                </div>
{#            </tr>#}
        {% endfor %}

</div>
{#    </table>#}
{#        <br/>#}
{#    <table>#}
{##}
{##}
{#    <th>Selecciona el format que vols editar:</th>#}
{##}
{#        {% for link in formats %}#}
{#            <tr>#}
{#            <form method="post" action="" class="vote_form">#}
{#              <td>#}
{#                  <a href="#}
{#                  {% url 'format_update' link.pk %}#}
{#                  ">#}
{#                  <b>[{{ link.nom }}]</b>#}
{#                </a>#}
{#              </td>#}
{#            </form>#}
{#            <br/>#}
{#                </tr>#}
{#        {% endfor %}#}
{##}
{#    </table>#}
{% endblock %}