{% extends "base.html" %}
{% csrf_token %}
{% block content %}

{#    <div style="margin: 0 auto; text-align:center;">#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_comandes' %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Comandes rebudes" >#}
{#                                    <span class="glyphicon glyphicon-folder-open" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
{#                                    <b id="pato" name="pato" class="pato">Comandes rebudes</b>#}
{#                                 </a>#}
{#                        </div>#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_dates' %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Properes entregues" >#}
{#                                    <span class="glyphicon glyphicon-calendar" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
{#                                    <b id="pato" name="pato" class="pato">Dates d'entrega</b>#}
{#                                 </a>#}
{#                        </div>#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_llocs' %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Llocs d'entrega" >#}
{#                                    <span class="glyphicon glyphicon-fullscreen" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
{#                                    <b id="pato" name="pato" class="pato">Llocs d'entrega</b>#}
{#                                 </a>#}
{#                        </div>#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_productes' %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productes" >#}
{#                                    <span class="glyphicon glyphicon-pencil" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
{#                                    <b id="pato" name="pato" class="pato">Editar productes</b>#}
{#                                 </a>#}
{#                        </div>#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'productor_list' %}" id="etq_selected"  class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Editar productor" >#}
{#                                    <span class="glyphicon glyphicon-user" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
{#                                    <b id="pato" name="pato" class="pato">Editar productor</b>#}
{#                                 </a>#}
{#                        </div>#}
{#                        <div style=" position: relative; display: inline-block; ">#}
{#                                <a href="{% url 'vista_historial' %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Veure historial" >#}
{#                                    <span class="glyphicon glyphicon-book" style="margin: 0 auto; margin-top: 20px; width:32px; height:32px;  position: absolute">#}
{#                                    </span>#}
{#                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>#}
{#                                    <b id="pato" name="pato" class="pato">Veure historial</b>#}
{#                                 </a>#}
{#                        </div>#}
{#    </div>#}
    <br/>
    <div id="dialog" title="Benvingut">
    <p>A la secció dels productors pots gestionar els teus perfils de productor ja existents o crear-ne de nous.</p>
    </div>
    <br/>
    <a href="{% url 'productor_create' %}">Crear Nou Productor</a> <br/><br/>
    {% if object_list %}
        {% for link in object_list %}
            <form method="post" action="" class="vote_form">
              <li>
                  <a href="{% url 'vista_dates' link.pk %}">
                  [{{ link.nom }}]
                {% csrf_token %}
{#                <input type="hidden" id="id_link" name="link" class="hidden_id" value="{{ link.pk }}" />#}
{#                <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ user.pk }}" />#}
{#                {% if not user.is_authenticated %}#}
{#                <button disabled title="Si us plau, login per votar">+</button>#}
{#                {% elif link.pk not in voted %}#}
{#                <button>+</button>#}
{#                {% else %}#}
{#                <button>-</button>#}
{#                {% endif %}#}


{#                  <b>{{ link.etiqueta.nom }}</b>#}
{#                  {% for aux in link.nodes.all %}#}
{#                    {{ aux }} /#}
{#                  {% endfor %}#}
{#                  [{{ link.cantitat }} &nbsp; {{ link.format.nom }}] {{ link.data_entrega.date }} / {{ link.client.first_name }}#}
                </a>
{#                  {{ link.responsable }}#}
              </li>
            </form>
            <br/>
        {% endfor %}
    {% else %}
        <p>Si ets responsable d'un productor que ja està creat a la xarxa, has de demanar al responsable actual del productor que editi el perfil i t'accepti com a responsable</p>
    {% endif %}
{% endblock %}