{% extends "base.html" %}
{% load staticfiles %}
{% block headers %}
    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>
    <script src="{% static 'js/menubar.js' %}"></script>
{% endblock %}
{% block content %}
<div style="float:left; position:relative; margin-top: 90px">
<form method="post" action="" enctype="multipart/form-data">
  {% csrf_token %}
        {% include 'romani/productors/menu_pro.html' %}

    <div style="float: left; position:relative;font-family: 'Satisfy', cursive;
    font-size: 2em"> Editar Producte &nbsp;</div>

    <br/><br/>
{#    <a href="{% url 'format_create' productor.pk %}">Crear nou format</a> <br/>#}
{#    <br/>#}
  {{ form.as_p }}
{#  <input type="text" id="datepicker" size="30">#}
  <input type="submit" value="Grabar">
</form>
</div>
{% endblock %}
