{% extends "base.html" %}
{% load staticfiles %}
{% block headers %}
{% endblock %}
{% block content %}
        <div style="float: left; position:relative">
        {% if object_list %}

{% include 'romani/productors/menu_dis.html' %}

    {% else %}
        <a href="{% url 'productor_create' %}" id="pro_menu">Crear Nou Productor</a>
            <br/><br/>
        <p>Si ets responsable d'un productor que ja està creat a la xarxa, has de demanar al responsable actual del productor que editi el perfil i t'accepti com a responsable</p>
    {% endif %}
    </div>
    <br/>

<br/>
    <a href="{% url 'productor_list' %}" id="pro_menu">Comandes</a>
    <a href="{% url 'productor_cal_list' %}" id="pro_menu">Calendari</a>
    <a href="{% url 'productor_hist_list' %}" id="pro_menu_selected">Historial</a>

<br/><br/>

{% if comandes %}


        <div style="overflow-x:auto;">
                {% for c in comandes %}
            <a href="{% url 'distri_data_comandes' c.dia_pk %}">
            <b>{{c.node}} / {{ c.dia }}</b>
            </a>
            <br/>
            <ul style="list-style-type:disc">
            {% for v in c.entregas %}
<li>
             {{v.cantitat}} &nbsp; {{v.format}} &nbsp; {{ v.producte }} &nbsp; {{v.productor}} &nbsp;
    <a  href="{% url 'perfil' v.user.pk %}">
    {{v.user}}
    </a> &nbsp;
    {{v.preu}}
    <a type="button" class="glyphicon glyphicon-info-sign" href="{% url 'diesEntrega' v.pk '0' %}" title="llegir més"></a>
&nbsp;
    <!--<a class="glyphicon glyphicon-remove" type="button" href="{% url 'entregaDelete' v.entrega_pk  %}"-->
                           <!--title="Borrar comanda"-->
                           <!--onclick="return confirm('Segur que vols borrar la comanda?')">-->
                                <!--</a>-->
</li>
              {% endfor %}
              <br/>Total:  {{c.total}}
</ul>
              {%  endfor %}
        </div>

        {% endif %}
       {% if not comandes %}
                No hi ha comandes encara
        {% endif %}

{% endblock %}