{% extends "base.html" %}
{% csrf_token %}
{% block content %}
        <div style="float: left; position:relative">
        <a href="{% url 'productor_create' %}" id="pro_menu">Crear Nou Productor</a> <br/>
        {% if object_list %}
        {% for link in object_list %}
              <li style="display: inline">
                 &nbsp; &nbsp; <a href="{% url 'vista_dates' link.pk %}" title="Gestionar productor" id="pro_menu">
                    [{{ link.nom }}]
                </a>
                  <a href="{% url 'vista_comandes' link.pk %}" title="Veure comandes">
                      <span id="notification_count">
                        {{ link.comandes_count }}
                      </span>
                  </a>
              </li>
            <br/>
        {% endfor %}
    {% else %}
            <br/>
        <p>Si ets responsable d'un productor que ja està creat a la xarxa, has de demanar al responsable actual del productor que editi el perfil i t'accepti com a responsable</p>
    {% endif %}
    </div>
    <div style="margin: 0 auto; text-align:center;">
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'productor_list' %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Comandes rebudes" >
                                    <b id="pato" name="pato" class="pato">Comandes rebudes</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'productor_cal_list' %}" id="etq" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Properes entregues" >
                                    <b id="pato" name="pato" class="pato">Calendari</b>
                                 </a>
                        </div>
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'productor_hist_list' %}" id="etq_selected" class="btn btn-default btn-group-xs" style="width: auto; "  id="etq" name="etq" title="Veure historial" >
                                    <b id="pato" name="pato" class="pato">Veure historial</b>
                                 </a>
                        </div>
    </div>



    <br/>
{#    <div id="dialog" title="Historial">#}
{#    <p>Consulta el teu historial des de l'entrada a la xarxa</p>#}
{#    </div>#}

        <br/><br/><br/>
    {% if comandes %}
             <table border="1" id="myTable" class="tablesorter" style="width: 100%">
             <thead>
             <tr>
             <th>Producte</th>
             <th>Productor</th>
             <th>Lloc d'entrega</th>
             <th>Cant</th>
             <th>Format</th>
             <th>Data d'entrega</th>
             <th>Franja horària</th>
             <th>Preu</th>
             <th>Usuari</th>
{#             <th>Freqüència</th>#}
             <th>Data Comanda</th>
             </tr>
             </thead>
             <tbody>
                {% for link in comandes %}
                       <tr>
                                <td>{{ link.comanda.format.producte.nom }}</td>
                                <td>{{ link.comanda.format.productor.nom }}</td>
                                <td>{{ link.dia_entrega.node }}</td>
                                <td>{{ link.comanda.cantitat }}</td>
                                <td>{{ link.comanda.format.nom }}</td>
                                <td>{{ link.dia_entrega.date|date:"d/m/Y" }}</td>
                                <td>{{ link.franja_horaria }}</td>
                                <td>{{ link.comanda.preu }}€</td>
                                <td>{{ link.comanda.client.first_name }}</td>
{#                                <td>{{ link.comanda.frequencia.nom }}</td>#}
                                <td>{{ link.data_comanda.date|date:"d/m/Y" }}</td>
                            </tr>
                {% endfor %}
                 <tr>
                     <td>TOTAL</td><td></td><td></td><td>{{ cant_total }}</td><td></td><td></td><td></td><td>{{ preu_total }}€</td>
                 </tr>
             </tbody>
               </table>
    {% endif %}


{% endblock %}