{% load i18n %}{% autoescape off %}
{% blocktrans %}Reps aquest correu perquè has sol·licitat reiniciar la contrasenya de la teva compta d'usuari a {{ site_name }}.{% endblocktrans %}

{% trans "Si us plau, visita la seguent pagina i escull una nova contrasenya:" %}
    {% block reset_link %}
        {{ domain }}{% url 'reset_password_confirm' uidb64=uid token=token %}
        <!--This is the only change from ` django/contrib/admin/templates/registration/password_reset_subject.html`. the url name is commented out in urls.py section. The view associated with the url is going to described later in this post. -->
    {% endblock %}
{% trans "El teu nom d'usuari, per si l'has oblidat:" %} {{ user.get_username }}

{% trans "Gracies per col·laborar amb La Massa!" %}

{% blocktrans %}L'equip de {{ site_name }}{% endblocktrans %}

{% endautoescape %}