{% load i18n %}{% autoescape off %}
{% blocktrans %}Reps aquest correu perque has sol·licitat un canvi de contrasenya de la teva compte a {{ site_name }}.{% endblocktrans %}

{% trans "Si us plau, visita la seguent pagina i escull una nova contrasenya" %}
    {% block reset_link %}
        {{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
    {% endblock %}
{% trans "El teu nom d'usuari, per si l'has oblidat és:" %} {{ user.get_username }}

{% trans "Gracies per fer servir La Massa!" %}

{% blocktrans %}L'equip de {{ site_name }}{% endblocktrans %}

{% endautoescape %}