<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
   {% block PREheaders %}{% endblock %}
    {% include 'headers.html' %}
    {% block headers %}{% endblock %}


    <title>{% block title %}{% endblock %}</title>
</head>

<body>
<div id="back_img">
    <header class="nav-down">
    <div id="div_header">
        <div id="div_menu1">
              <a  href="{% url 'coope' %}"> <h1>
                    la massa </h1></a>
{#            Més proper, Massa Xarxa, lamassa.net , Més a prop#}
        </div>
        <div id="div_user">
            {%  include "usermenu.html" %}
        </div>
    </div>
    </header>
    <div id="sidebar-wrapper">
			{% include "leftmenurusc.html" %}
	</div>




    <div id="page-content-wrapper">
        <div class="container-fluid">
           <div class="row">


                <div class="col-lg-12">

                    {% block sidebar %}{% endblock %}


                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
    </div>




    {% block modals %}  {% endblock %}

<script>

    {#                Seguent block nomes per fer funcionar el paket django_messages correctament#}
    {% if messages %}

        {% for message in messages %}
            CallNotification('{{ message }}', '{{ message.extra_tags }}');
        {% endfor %}

    {% endif %}
</script>




		<div id="div_footer">
            footer
            <div id="div_pulpo">
                 <img src="{% static "images/pulpo.gif" %}" align="right" height="70" width="70">
            </div>
        </div>
</div>
</body>

</html>
