<!DOCTYPE html>

<html lang="en">

{% load staticfiles %}
{% load romani_tags %}
<head>
    {% block PREheaders %}{% endblock %}
    {% include 'headers.html' %}
    {% block headers %}{% endblock %}

    <title>
        {% block title %}{% endblock %}
    </title>
</head>

<body>


    <header class="nav-down">
    <div id="div_header">
        <div id="div_menu1">

<!--{#                    <div id="loading" class="loader" style="margin-left:0 auto; margin-right:0 auto;"></div>#}-->

<!--{#            Més proper, Massa Xarxa, lamassa.net , Més a prop#}-->
        <ul class="nav navbar-nav main-nav "><li><a  href="{% url 'coope' %}" class="active"> <h1>
                    {{ node_user }}</h1></a></li>

            {% if user.is_authenticated %}
                         {% if request.user|has_group:"Productors" %}
                             <li><a class='expandable' href="{% url 'productor_list' %}" title='Zona Productor'>
                                    <span id="notification_count">
                    <!--{#                   productor_comandes prove de "romani_tags.py"                      #}-->
                                        {% productor_comandes as productor_comandes %}
                                            {{ productor_comandes }}
                                    </span>

                                    <span id="zonaproductors" name="zonaproductors" class='glyphicon glyphicon-folder-open collapsed-element'></span>
                                    &nbsp; <span class='expanded-element'>Productor</span>
                                  </a>
                             </li>
                         {% endif %}
                         {% if request.user|has_group:"Nodes" %}
                            <li>
                                <a class='expandable' href="{% url 'vista_nodes' %}" title='Zona Coop Consum'>
                                    <span id="zonanodes" name="zonanodes" class='glyphicon glyphicon-map-marker collapsed-element'></span>
                                    <span class='expanded-element'>CoopConsum</span>
                                </a>
                            </li>
                         {% endif %}
            {% endif %}
        </ul>

        </div>
        <div id="div_user">
            {%  include "usermenu.html" %}
        </div>
{#        <script>#}



{#        </script>#}
    </div>
    </header>
  <!--<div id="sidebar-wrapper"> -->
			<!--{% include "leftmenurusc.html" %} -->
	<!--</div> -->

    <div id="page-content-wrapper">
        <div class="container-fluid">
           <div class="row">
                <div class="col-lg-12">
        {#                    Seguent block nomes per fer funcionar el paket django_messages correctament#}
            {% if messages %}
                {% for message in messages %}
        {#            Level_tag indica el tipus de missatge. I extra_tags valors customitzables del missatge. Per a més detall sobre CallNotification consultar "generic.js" #}
{#                    CallNotification('{{ message }}', '{{ message.level_tag }}' , '{{ message.extra_tags }}');#}
                    {% if message.level_tag == 'success' %}
                    <div class="message" style="background-color:#508a4c; text-align: center; color: white">
                        {{ message }}
                        <a href="#" class="del-msg" style="color: white">&times;</a>
                    </div>
                    {% elif message.level_tag == 'info' %}
                      <div class="message" style="background-color:#add8e6; text-align: center; color: white">
                        {{ message }}
                        <a href="#" class="del-msg" style="color: white">&times;</a>
                    </div>
                    {% elif message.level_tag == 'error' %}
                        <div class="message" style="background-color:#ff8476; text-align: center; color: white">
                            {{ message }}
                            <a href="#" class="del-msg" style="color: white">&times;</a>
                        </div>
                    {% elif message.level_tag == 'warning' %}
                        <div class="message" style="background-color:orange; text-align: center; color: white">
                            {{ message }}
                            <a href="#" class="del-msg" style="color: white">&times;</a>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}



                    {% block sidebar %}{% endblock %}

                    {% block content %}{% endblock %}

                </div>
            </div>
        </div>
    </div>

    {% block modals %}  {% endblock %}



    <div id="div_footer">
         {% block footer %}  {% endblock %}
    </div>

</body>

</html>
