{% csrf_token %}
{% load i18n %}
{% load staticfiles %}
<script>
// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    var modal = document.getElementById('myModal');
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
{#El div mymodal serveix per tancar comandes a traves d'un dialeg de javascript#}
    <!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
        <h5><b>NOVA COMANDA:</b></h5>
       <form method="post" class="comanda2_form">{% csrf_token %}
{#           <img id="imatge" name="imatge" class="img-responsive" style="float: right; max-height: 300px "  >#}
           <a href="{{ MEDIA_URL }}{{ producte.foto.url }}" >
                <div class="g-item" id="imatge" style="float: right">
                    </div>
            </a>
            <div class="prodxx" style="background-color:#FFFFFF; display: inline-block; ">

           <label for="producte">Producte:</label>
           <input type="text" style="max-width: 200px; float: right" class="form-control"  id="producte" name="producte" readonly/>
           <input type="hidden" id="producte_pk" name="producte_pk" class="form-control"  /><br/><br/>
           <label for="format">Format:</label>   <input type="text" class="form-control"  id="format" style="max-width: 200px; float: right" name="format" readonly/>
           <input type="hidden" id="format_pk" name="format_pk" style="max-width: 200px; float: right" class="form-control" /><br/><br/>
           <label for="cantitat_t">Cantitat: </label>  <input type="number" style="max-width: 200px; float: right" class="form-control"  id="cantitat_t" name="cantitat_t" readonly/><br/><br/>
           <label for="preu">Preu(€):</label> <input type="number" style="max-width: 200px; float: right;" class="form-control"  id="preu" name="preu" readonly/><br/><br/><br/>
            </div>
           <label for="lloc_entrega" class="lloc_entrega_lbl"  >Lloc d'entrega:</label>
            <select id="lloc_entrega" name="lloc_entrega" class="lloc_entrega form-control" >
                 {% for lloc in nodes %}
                {%  if lloc.pk == up.lloc_entrega.pk %}
                        <option value="{{ lloc.pk }}" selected>{{ lloc.nom }} / {{ lloc.poblacio }} </option>
                    {% else %}
                        <option value="{{ lloc.pk }}">{{ lloc.nom }} / {{ lloc.poblacio }} </option>
                    {% endif %}
               {% endfor %}
           </select>
<!--           {% if up.lloc_entrega.a_domicili == True %}
                    <div id="effect" style="display: block" class="ui-widget-content ui-corner-all">
                    <label style="float: left; position: absolute" for="carrer">Carrer: </label>
                    <input type="text" id="carrer" style="float: right; max-width: 300px" class="form-control" name="carrer" value="{{ up.carrer }}"/><br/><br/>
                    <label style="float: left; position: absolute" for="numero">Número:</label>
                    <input type="text" id="numero" style="float: right; max-width: 300px" name="numero" class="form-control" value="{{ up.numero }}"/><br/><br/>
                    <label style="float: left; position: absolute" for="pis">Pis:</label>
                    <input type="text" id="pis" style="float: right; max-width: 300px" name="pis" class="form-control" value="{{ up.pis }}"/><br/><br/>
                    <label style="float: left; position: absolute" for="poblacio">Població:</label>
                    <input id="poblacio" style="float: right; max-width: 300px" name="poblacio" class="form-control" value="{{ up.poblacio }}" readonly/><br/><br/>
                    </div>
            {% else %}
                        <div id="effect" style="display: block" class="ui-widget-content ui-corner-all">
                            <label style="float: left" for="carrer">Carrer: </label>
                            <input  type="text" class="form-control" id="carrer" name="carrer" style="float: right; max-width: 300px;" value="{{ up.lloc_entrega.carrer }}" readonly/><br/><br/>
                            <label style="float: left" for="numero">Número:</label>
                            <input type="text" class="form-control" id="numero" name="numero" style="float: right; max-width: 300px;" value="{{ up.lloc_entrega.numero }}" readonly/><br/><br/>
                            <label style="float: left" for="pis">Pis:</label>
                            <input type="text" class="form-control" id="pis" style="float: right; max-width: 300px;" name="pis" value="{{ up.lloc_entrega.pis }}" readonly/><br/><br/>
                            <label style="float: left" for="poblacio">Població:</label>
                            <input id="poblacio" class="form-control" style="float: right; max-width: 300px" name="poblacio" value="{{ up.lloc_entrega.poblacio }}" readonly/><br/><br/>
                        </div>
            {% endif %}
            <br/><br/>-->

           <label for="dataentrega">Data d'entrega:</label>
            <select id="dataentrega" name="dataentrega" class="dataentrega form-control">
                 <option selected></option>
            </select>
           <div id="check1"  style="display: none; color: #f5b335">

                <div class="thumbnail" >
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <b> Completa el camp 'Data d'entrega' si us plau </b>  &nbsp; </br>
                </div>

           </div>

           <label for="franjes">Franja Horària:</label>
           <select id="franjes" name="franjes" class="franjes form-control">
                <option selected></option>
           </select>
           <div id="check2"  style="display: none; color: #f5b335">

                <div class="thumbnail" >
                    <span class="glyphicon glyphicon-info-sign"></span>
                    <b> Completa el camp 'Franja Horària' si us plau </b>  &nbsp; </br>
                </div>

           </div>
           <label for="frequencia">Freqüència:</label>
           <select id="frequencia" name="frequencia" class="form-control">
               <option selected></option>
           </select>
          <br/>
           <br/>
          <button id="aceptar" type="submit">Confirmar <span class="glyphicon glyphicon-ok"></span></button>
          <button id="cancelar" type="button">Cancel·lar <span class="glyphicon glyphicon-remove"></span></button>
           </form>
</div>
</div>