{% extends "base.html" %}
{% load i18n %}

{% block content %}

    <script>
 jQuery(document).ready(function($) {


     var copyTextareaBtn = document.querySelector('.js-textareacopybtn');

     copyTextareaBtn.addEventListener('click', function (event) {
         var copyTextarea = document.querySelector('.js-copytextarea');
         copyTextarea.select();

         try {
             var successful = document.execCommand('copy');
             var msg = successful ? 'successful' : 'unsuccessful';
             console.log('Copying text command was ' + msg);
         } catch (err) {
             console.log('Oops, unable to copy');
         }
     });

 });
</script>

    <div>
    {% if message %}

            <div class="thumbnail" >
            <span class="glyphicon glyphicon-info-sign"></span>
            <b>Les invitacions són personals. Per convidar copia el següent link: </b>  &nbsp; </br>

        <textarea rows="6" class="js-copytextarea" style="width: 80%" >Et convido a entrar a la xarxa de productes de proximitat: {{ message }} </textarea>

            <button class="js-textareacopybtn"><span class="glyphicon glyphicon-duplicate"> Copiar</span></button>

            </br>
                <b>Si vols convidar a alguna persona més, recorda generar una nova invitació clicant de nou "Generar invitació".</b>
        </div>
    {% endif %}
    </div>

    {% if message_email %}

        <div class="thumbnail" >
        <span class="glyphicon glyphicon-info-sign"></span>
        <label> {{ message_email }} </label>

        </div>
    {% endif %}
<br/>
Actualment som desenes de persones al voltant dels diferents punts:
{% for n in nodes %}
    {% if forloop.last %}
     i &nbsp; {{ n.nom }}&nbsp; a &nbsp; {{ n.poblacio }}. &nbsp;
    {% else %}
        {{ n.nom }}&nbsp; a &nbsp; {{ n.poblacio }}, &nbsp;
    {% endif %}
{% endfor %}


    <br/>

    Encara disposes de <b>{{ invitacions }}</b> invitacions a la xarxa.<br/>
    Pots convidar introduïnt el email de la persona: <br/>
    <form action="/convidar/" method="post">
                        {% csrf_token %}
                            <input type="text" class="form-control"  name="email" width="40px" placeholder="Introdueix email si vols"/>
                              <button type="submit" class="btn btn-default"  style="font-size: medium"><b>Convidar per email</b></button>
    </form>

    <br/>



    <p>
    <b>També pots convidar a traves de watsapp, messenger o qualsevol plataforma enviant la url que pots generar clicant el seguent botó:</b>

    </p>
    <form action="/convidar/" method="post">
                        {% csrf_token %}
                        <div class="input-group">
                          <span class="input-group-btn">
                              <button type="submit" class="btn btn-default" style="font-size: large"><b>Generar invitació</b></button>
                          </span>
                        </div>
    </form>
    <br/>




{% endblock %}