{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block headers %}

    <script src="{% static 'js/comanda.js' %}"></script>

      <script>
  $( function() {
    $( "#tabs" ).tabs();
    $('#tabs-2').bind('click', function() {
                coord();
            });
    $('#id_tabs2').bind('click', function() {
            coord();
        });

  } );





           </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUirWAP7iFxFp7W1jmhoTrOYzZ-Z2sYZ8&callback=initMap"
    async defer></script>

<script>
      var map;
      var marker_d;
      function initMap() {
        var loc;
          loc = new google.maps.LatLng(41.539064, 2.2130028);
          map = new google.maps.Map(document.getElementById('map'), {
          center: loc,
          zoom: 12,
{#          mapTypeId: 'satellite'#}
        });


          $.post("/allcoordenades/", function(data) {
              var i = 0;
              var marker = [];
              var image = '/static/img/u-pick_stand.png'
              var img_domicili = '/static/img/vespa.png'
              data.forEach( function(arrayItem)
				{
                    var contentString = '<div id="content">'+
                          '<div id="siteNotice">'+
                          '</div>'+
                          '<h1 id="firstHeading" class="firstHeading">' +
                          arrayItem.nom +
                          '</h1>'+
                          '<div id="bodyContent">'+
                          '<p><b>' +
                          arrayItem.nom +
                          '</b>,' +
                          arrayItem.text +
                          '</p>' +
                          '</div>'+
                          '</div>';

                      var infowindow = new google.maps.InfoWindow({
                        content: contentString
                      });

                    var place = new google.maps.LatLng(arrayItem.Lat, arrayItem.Lng);
                    if (arrayItem.a_domicili == "True"){
                        marker[i] = new google.maps.Marker({
                          position: place,
                          title: "A Domicili",
{#                          style: {float: left},#}
{#                          labelStyle: {opacity: 0.8, padding: 20px},#}
                          map: map,
                          icon: img_domicili
                    });
                    }else{
					    marker[i] = new google.maps.Marker({
                          position: place,
                          title: arrayItem.nom,
{#                          style: {float: left},#}
{#                          labelStyle: {opacity: 0.8, padding: 20px},#}
                          map: map,
                          icon: image
                    });
                        }
                      marker[i].addListener('click', function() {
                        infowindow.open(map, marker[i]);
                      });

					i++;
				});

          });


          $.post("/horari/", function(data) {
            var acc = document.getElementById('accordion');
            var j;
            var h;
            var b;
            var t = "";
            var g;
            data.forEach( function (arrayItemx){

                h = "<a>" + arrayItemx.dia + "</a>";
                g = "<div>";

                arrayItemx.franjes.forEach( function (arrayItem)
                {
                    g = g + "&nbsp;" + arrayItem.inici + "-" + arrayItem.final + "<br/>";
                });
                t = t + h + g + "</div>";

            })

            t = t + "</div>";

            acc.innerHTML = t;


			$( "#accordion" ).accordion( "refresh" );

          })


        map.addListener('click', function(e) {
                placeMarker(e.latLng, map);
});

     var punt_lat = document.getElementById("punt_lat");
     var punt_lng = document.getElementById("punt_lng");

     if (marker_d == null)
     {
       var loqation= new google.maps.LatLng(punt_lat.value, punt_lng.value);
       marker_d = new google.maps.Marker({
          position: loqation,
          map: map
      }); } else {   marker_d.setPosition(loqation); }


 }
      function initMap2() {
        var loc;
          loc = new google.maps.LatLng(41.539064, 2.2130028);
          map = new google.maps.Map(document.getElementById('map'), {
          center: loc,
          zoom: 12,
{#          mapTypeId: 'satellite'#}
        });


          $.post("/allcoordenades/", function(data) {
              var i = 0;
              var marker = [];
              var image = '/static/img/u-pick_stand.png'
              var img_domicili = '/static/img/vespa.png'
              data.forEach( function(arrayItem)
				{
                    var contentString = '<div id="content">'+
                          '<div id="siteNotice">'+
                          '</div>'+
                          '<h1 id="firstHeading" class="firstHeading">' +
                          arrayItem.nom +
                          '</h1>'+
                          '<div id="bodyContent">'+
                          '<p><b>' +
                          arrayItem.nom +
                          '</b>,' +
                          arrayItem.text +
                          '</p>' +
                          '</div>'+
                          '</div>';

                      var infowindow = new google.maps.InfoWindow({
                        content: contentString
                      });

                    var place = new google.maps.LatLng(arrayItem.Lat, arrayItem.Lng);
                    if (arrayItem.a_domicili == "True"){
                        marker[i] = new google.maps.Marker({
                          position: place,
                          title: "A Domicili",
{#                          style: {float: left},#}
{#                          labelStyle: {opacity: 0.8, padding: 20px},#}
                          map: map,
                          icon: img_domicili
                    });
                    }else{
					    marker[i] = new google.maps.Marker({
                          position: place,
                          title: arrayItem.nom,
{#                          style: {float: left},#}
{#                          labelStyle: {opacity: 0.8, padding: 20px},#}
                          map: map,
                          icon: image
                    });
                        }
                      marker[i].addListener('click', function() {
                        infowindow.open(map, marker[i]);
                      });

					i++;
				});

          });




        map.addListener('click', function(e) {
                placeMarker(e.latLng, map);
});

     var punt_lat = document.getElementById("punt_lat");
     var punt_lng = document.getElementById("punt_lng");

     if (marker_d == null)
     {
       var loqation= new google.maps.LatLng(punt_lat.value, punt_lng.value);
       marker_d = new google.maps.Marker({
          position: loqation,
          map: map
      }); } else {   marker_d.setPosition(loqation); }


 }
    function coord() {

		$.post("/coordenades/", $("#lloc_entrega_perfil").serializeArray(), function(data) {

            var Lat = data["Lat"];
            var Lng = data["Lng"];
            var location = new google.maps.LatLng(Lat, Lng);

              map = new google.maps.Map(document.getElementById('map'), {
              center: location,
              zoom: 15,
                  mapTypeId: 'satellite'
                });

{#            map.setCenter(location);#}
{#            map.setZoom(15);#}


        });


          $.post("/horari/", function(data) {
            var acc = document.getElementById('accordion');
            var j;
            var h;
            var b;
            var t = "";
            var g;
            data.forEach( function (arrayItemx){

                h = "<a>" + arrayItemx.dia + "</a>";
                g = "<div>";

                arrayItemx.franjes.forEach( function (arrayItem)
                {
                    g = g + "&nbsp;" + arrayItem.inici + "-" + arrayItem.final + "<br/>";
                });
                t = t + h + g + "</div>";

            })

            t = t + "</div>";

            acc.innerHTML = t;


			$( "#accordion" ).accordion( "refresh" );

          })
    }


function placeMarker(location) {

 var punt_lat = document.getElementById("punt_lat");
 var punt_lng = document.getElementById("punt_lng");

 if (marker_d == null)
 {
   marker_d = new google.maps.Marker({
      position: location,
      map: map
  }); } else {   marker_d.setPosition(location); }


 punt_lat.value = location.lat();
 punt_lng.value = location.lng();
}



{#$(document).ready(function(){#}
{#            $( "#tabs" ).tabs();#}
{#            $('#tabs-2').bind('click', function() {#}
{#                initMap();#}
{#            });#}
{#          });#}


  </script>
{% endblock %}


{% block content %}

  <script>

  $( function() {
    $( "#accordion" ).accordion();
  } );

  </script>


<p style="background-color: #508a4c; color: white; font-family: 'Satisfy', cursive; font-size: xx-large"> &nbsp; {{ object.user.get_full_name }}</p>

<div id="tabs">
  <ul id="tabx" name="tabx" style="background-color: #389c41">
    <li style="background-color: #389c41"><a id="id_tabs1" href="#tabs-1">Configuració</a></li>
    <li style="background-color: #389c41"><a id="id_tabs2" href="#tabs-2">Punt de trobada</a></li>
  </ul>
  </br>

<form method="post" enctype="multipart/form-data" action="">{% csrf_token %}
            <div id="tabs-1">
                {% if object.avatar  %}
                            <img src="{{ object.avatar.url }}" id="fotoavatar" name="fotoavatar" alt="Quan desis pujarem la nova foto de perfil" height="200" width="200"/>
                        {% else %}
                            <img src="{% static "img/fusta.jpg" %}" id="fotoavatar" name="fotoavatar" alt="Quan desis pujarem la nova foto de perfil" height="200" width="200">
                {% endif %}
                    <br/><br/>
                        <span class="glyphicon glyphicon-picture"></span>
                    <label for="avatar">Nova foto de perfil: </label>
                        {% if object.avatar  %}
                            <input type="file" id="avatar" name="avatar" class="avatar" src="{{ object.avatar.url }}" /> </br>
                        {% else %}
                            <input type="file" id="avatar" name="avatar" class="avatar" src="{% static "img/fusta.jpg" %}"/> </br>
                        {% endif %}
                  <label>Email: </label>  {{ form.email }} <br/>
                  <label>Nom d'usuari: </label>    {{ form.username }} <br/>
                  <label>Nom: </label>    {{ form.first_name }} <br/>
                  <label>Cognoms: </label>    {{ form.last_name }} <br/>
                <button type="submit" > <span class="glyphicon glyphicon-floppy-disk"> Desar</span> </button>
            </div>
            <div id="tabs-2">
                <span class="glyphicon glyphicon-flag"></span>
                <label for="lloc_entrega_perfil">Lloc d'entrega:</label> </br>
                        <select id="lloc_entrega_perfil" name="lloc_entrega_perfil" class="lloc_entrega_perfil form-control" onchange="coord()">
                       {% for lloc in nodes %}
                        {%  if lloc.pk == object.lloc_entrega_perfil.pk %}
                                <option value="{{ lloc.pk }}" selected>{{ lloc.nom }} / {{ lloc.poblacio }} </option>
                            {% else %}
                                <option value="{{ lloc.pk }}">{{ lloc.nom }} / {{ lloc.poblacio }} </option>
                            {% endif %}
                       {% endfor %}
                        </select> </br>
                     <b>Horari:</b><div id="freq" name="freq"> {{ object.lloc_entrega_perfil.get_frequencia.nom }} </div>
                    <div id="accordion" name="accordion" style="font-family: 'Special Elite', cursive; font-size: medium; ">
                    </div>

                    {% if object.lloc_entrega_perfil.a_domicili == True %}
                                {% if object.punt_lat %}
                                    <div id="geodiv" name="geodiv">
                                        <div id="map"></div><br/>
                                        <input type="text" style="max-width: 185px; float: right; position: relative" class="form-control" id="punt_lat" name="punt_lat"
                                                   value="{{ object.punt_lat }}"  placeholder="clica en el mapa" />
                                        <input type="text" style="max-width: 185px; float: right; position: relative" id="punt_lng" name="punt_lng"  value="{{ object.punt_lng }}" class="form-control" placeholder="(opcional)" />
                                    </div>
                                {% else %}
                                    <div id="geodiv" name="geodiv">
                                        <div id="map"></div><br/>
                                        <span class="glyphicon glyphicon-map-marker" style="float:right;">
                                            <input type="text" style="max-width: 185px; float: right; position: relative" class="form-control" id="punt_lat" name="punt_lat"  placeholder="clica en el mapa" />
                                            <input type="text" style="max-width: 185px; float: right; position: relative" class="form-control" id="punt_lng" name="punt_lng"  placeholder="(opcional)" />
                                        </span>
                                    </div>
                                {% endif %}
                                <br/><br/><br/><br/>
                                <div >
                                <label style="float: left" for="carrer">Carrer: </label>
                                <input type="text" class="form-control" id="carrer" name="carrer" style="padding-right: 1px; max-width: 300px" value="{{ object.carrer }}"/></div>
                                <div class="form-group">
                                <label style="float: left" for="numero">Número:</label>
                                <input type="text" class="form-control"  id="numero" name="numero" style="max-width: 300px; padding-right: 1px" value="{{ object.numero }}"/></div>
                                <div class="form-group">
                                <label style="float: left" for="pis">Pis:</label>
                                <input type="text" class="form-control" style="max-width: 300px"  id="pis" name="pis" value="{{ object.pis }}" /></div>
                                <div class="form-group">
                                <label style="float: left" for="poblacio">Població:</label>
                                <input id="poblacio" class="form-control" style="max-width: 300px"  name="poblacio" value="{{ object.poblacio }}"  readonly/></div>
                    {% else %}

                                <div id="geodiv" name="geodiv">
                                    <div id="map"></div><br/>
                                    <span class="glyphicon glyphicon-map-marker" style="float:right;">
                                        <input type="text" id="punt_lng" class="form-control" style="max-width: 150px; float: right; position: relative" placeholder="opcional"  name="punt_lng" value="{{ object.lloc_entrega_perfil.position.longitude }}" readonly/>
                                        <input type="text" id="punt_lat" class="form-control" style="max-width: 150px; float: right;  position: relative"  name="punt_lat" placeholder="clica en el mapa" value="{{ object.lloc_entrega_perfil.position.latitude }}" readonly/>
                                    </span>
                                </div><br/><br/><br/><br/><br/>
                                                        <div>
                                <label style="float: left" for="carrer">Carrer: </label>
                                <input type="text"  id="carrer" style="max-width: 300px" class="form-control"  name="carrer" value="{{ object.lloc_entrega_perfil.carrer }}" readonly/></div>
                                <div class="form-group">
                                <label style="float: left" for="numero">Número:</label>
                                <input type="text"  id="numero" style="max-width: 300px" class="form-control" name="numero" value="{{ object.lloc_entrega_perfil.numero }}" readonly/></div>
                                <div class="form-group">
                                <label style="float: left" for="pis">Pis:</label>
                                <input type="text"  id="pis" style="max-width: 300px" class="form-control" name="pis" value="{{ object.lloc_entrega_perfil.pis }}" readonly/></div>
                                <div class="form-group">
                                <label style="float: left" for="poblacio">Població:</label>
                                <input id="poblacio"  name="poblacio" style="max-width: 300px" class="form-control" value="{{ object.lloc_entrega_perfil.poblacio }}" readonly/></div>
                    {% endif %}
                    <button type="submit" style="float: left"> <span class="glyphicon glyphicon-floppy-disk"> Desar</span> </button> <br/><br/><br/>
            </div>


</form>

</div>

{% endblock %}
