{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% csrf_token %}

{% block headers %}
    <script src="{% static 'js/comanda.js' %}"></script>
{% endblock %}

{% block modals %}

    {% include "comanda_modal.html" %}
    {% include "comentari_modal.html" %}

{% endblock %}



{%  block content %}
    <div style="margin: 0 auto; text-align:center;">
        <h2>{% trans "Historial d'entregues" %}</h2>
        <div class="caption" >
            <a type="button" href="{% url 'comandes'  %} " id="pro_menu" style="border: 3px; margin: 0" title="Visitar comandes actuals"> Veure cistella actual</a>
        </div>
    </div>
    <br/>
</br>

{% if comandes %}
        {% for comanda in comandes %}
    <div class="col-md-6 col-xs-12 col-sm-12 col-lg-4 ">
    <div class="thumbnail">


            <form method="post" class="vote_form"
{#                  action="{% url 'vote' %}"#}
                    >

          <div style="background-color: #f6a828; float: right; position: absolute; z-index: 1000000; top: 0px; right: 0px; font-family: 'Barrio';">
          <div style="float: left">
              <div style="margin: 0 auto; text-align:center">
          Valoració: &nbsp; <br/>
                  </div>
          </div>
          <div style="float: right">
            {% csrf_token %}
            <input type="hidden" id="id_entrega" name="entrega" class="hidden_id" value="{{ comanda.pk }}" />
{#            <input type="hidden" id="id_voter" name="voter" class="hidden_id" value="{{ up.user.pk }}" />#}
            {% if comanda.pk in upvoted_comandes %}
                <button type="submit" onclick="this.form.submited=this.value;" name="Nothing"  style="width: 16px; height: 16px; padding: 0; border: none; float:right" class="arrow-upvoted hidden_id" value="Nothing" title="Ha anat bé"></button><br/>
                <button type="submit" onclick="this.form.submited=this.value;" name="Down" value="Down"  style="width: 16px; height: 16px; padding: 0; border: none; float:right"
                        class="arrow-downvote hidden_id" title="He tingut problemes">
                </button>
            {% elif comanda.pk in downvoted_comandes %}
                <button type="submit" onclick="this.form.submited=this.value;" name="Up" value="Up" style="width: 16px; height: 16px; padding: 0; border: none; float:right" class="arrow-upvote hidden_id" title="Ha anat bé"></button><br/>
                <button type="submit" onclick="this.form.submited=this.value;" name="Nothing" value="Nothing"  style="width: 16px; height: 16px; padding: 0; border: none; float:right" class="arrow-downvoted hidden_id" title="He tingut problemes"></button>
            {% else %}
                <button type="submit" onclick="this.form.submited=this.value;" name="NewUp" value="NewUp" style="width: 16px; height: 16px; padding: 0; border: none; float:right" class="arrow-upvote hidden_id" title="Ha anat bé"></button><br/>
                <button type="submit" onclick="this.form.submited=this.value;" name="NewDown" value="NewDown" style="width: 16px; height: 16px; padding: 0; border: none;float:right " class="arrow-downvote hidden_id" title="He tingut problemes"></button>
            {% endif %}
          </div>
          </div>
        </form>




    <div class="caption">
             {% if comanda.producte.foto %}
                <a href="{{ MEDIA_URL }}{{ comanda.comanda.producte.foto.url }}" style="float: right" >
                   <div class="g-item" style="background-image:url('{{ comanda.producte.thumb.url }}');float: right; position:relative; z-index: 10" >
                   </div>
                </a>
             {% endif %}
              <div class="prodxx" style="    font-family: 'Satisfy'; font-size: 1.8em; color: #baae30; background-color:#FFFFFF; display: inline-block" >
              <label for="l_prod" style="font-size: medium; font-weight: 500">Producte:</label><a href="{% url 'producte'  comanda.comanda.format.producte.pk  %}" title="Visualitzar en detall el producte">
              <b id="l_prod" name="l_prod">{{ comanda.comanda.format.producte }}</b></a></div><br/><br/>

             <div class="prodxx" style="background-color:#FFFFFF; display: inline-block; ">
                <p>Autor: &nbsp;
                <a href="{% url 'productor'  comanda.comanda.format.productor.pk  %}" title="Visualitzar productor" style="font-family:  'Satisfy'; font-size: larger; color: #508a4c">
                        {{ comanda.comanda.format.productor.nom }}</a>
                  <a href="{% url 'messages_compose_to' comanda.comanda.format.productor.responsable %}" title="Enviar missatge al productor">
                 <span class="glyphicon glyphicon-comment" style="float: bottom; color: #f6a828">  </span></a></p>
              </div>
                <br/><br/>
                <div class="xxent" style="background-color:#FFFFFF;  width: auto;">
             Cantitat:   <b>{{ comanda.comanda.cantitat }}</b><br/>

             Format:   <b>{{ comanda.comanda.format.nom }}</b><br/>

             Preu:   <b>{{ comanda.comanda.preu }}</b>€<br/>

             Lloc: <a href="{% url 'node_detail' comanda.dia_entrega.node.pk %}"> <b> {{ comanda.dia_entrega.node.nom }}</b></a><br/>

             Hora: <b>{{ comanda.franja_horaria }}</b>
                    </div>
                    <br/><br/><br/><br/><br/>
              <div style="width:100%; display: inline-block; ">
                Entrega:  <b> {{ comanda.dia_entrega.date }}</b><br/>
              </div><br/>
              <div style="width:100%; display: inline-block; ">
                Comanda:  <b> {{ comanda.data_comanda.date }}</b><br/>
              </div>


                    <form method="post"  class="comanda_form">{% csrf_token %}
                        <input type="hidden" id="id_producte" name="producte" class="hidden_id" value="{{ comanda.comanda.format.producte.pk }}" />
                        <input type="hidden" id="id_producte_nom" name="producte_nom" class="hidden_id" value="{{ comanda.comanda.format.producte.nom }}" />
                        <input type="hidden" id="id_client" name="client" class="hidden_id" value="{{ user.pk }}" />
                        <input type="hidden" id="id_lloc_entrega" name="lloc_entrega" class="hidden_id" value="{{ up.lloc_entrega_perfil.pk }}" />
                        <input type="hidden" id="franja_horaria" name="franja_horaria" class="hidden_id" value="{{ up.lloc_entrega_perfil.pk }}"/>
                        <input type="hidden" id="id_preu" name="preu" class="hidden_id" value="{{ comanda.comanda.preu }}" />
                        <input type="hidden" id="id_cantitat" name="cantitat" class="hidden_id"  value="{{ comanda.comanda.cantitat }}" style="width: 29px"/>
                        <input type="hidden" id="id_format" name="format" class="hidden_id" value="{{ comanda.comanda.format.pk }}"/>
                         <button class="glyphicon glyphicon-duplicate" id="id_carro" style=" "></button>
                     </form>
        </div>
        </div>
        </div>
        {%  endfor %}
        {% endif %}

        {% if not comandes %}
                No hi ha comandes passades encara
        {% endif %}

{% endblock %}

