{% load staticfiles %}


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">


{#    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>#}


    <script src="{% static 'js/load.js' %}" type="text/javascript" async="async"></script>


    <!--Bootstrap-->
    <link href="{% static 'js/bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!--CSS Generales-->
    <link rel="stylesheet" type="text/css" href="{% static 'styleRusc.css' %}" />
    <!-- CSS Notificacións -->
    <script  src="{% static 'js/notifIt.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/notifIt.css' %}">





    <!--JS Generales-->
{#    <script  src="{% static 'js/generic.js' %}" ></script>#}

    <!--Jquey / UI-->
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.11.4/jquery-ui.css' %}">
{#    <script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>#}

{#    <script>#}
{#    $(function() {#}
{#        $( "#datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' });#}
{#        $( "#datepicker2" ).datepicker({ dateFormat: 'dd/mm/yy' });#}
{#    });#}
{#    </script>#}




{#<script type="text/javascript" src="{%  static 'js/tablesorter-master/jquery.tablesorter.js' %}" async="async"></script>#}
    <link rel="stylesheet" href="{% static 'js/tablesorter-master/themes/green/style.css' %}">


{#<script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>#}
    <link href="{% static 'js/fullcalendar-3.4.0/fullcalendar.css' %}" rel="stylesheet">
{#<script type="text/javascript" src="{%  static 'js/fullcalendar-3.4.0/fullcalendar.min.js' %}" async="async"></script>#}


{#    <script>#}
{##}
{#         function endLoading() {#}
{#            document.getElementById( 'loading' ).style.display = 'none';#}
{#            document.getElementById('page-content-wrapper').style.visibility = 'visible'#}
{##}
{#         }#}
{##}
{##}
{#         $(function () {#}
{#             #}
{#             #}
{#            $( "#datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' });#}
{#            #}
{#             $( "#datepicker2" ).datepicker({ dateFormat: 'dd/mm/yy' });#}
{##}
{#             $("#accordion").accordion();#}
{##}
{#             $("#myTable").tablesorter({dateFormat: "uk"});#}
{##}
{#             $("#myTable2").tablesorter({dateFormat: "uk"});#}
{##}
{#             $("#dialog").dialog({#}
{#                 position: {my: "right top", at: "right top+75", of: "#page-content-wrapper"},#}
{#                 width: "400px"#}
{##}
{#             });#}
{##}
{#                         // delete message#}
{#            $('.del-msg').click(function(){#}
{#                $('.del-msg').parent().attr('style', 'display:none;');#}
{#            })#}
{##}
{#             setTimeout(function() {#}
{#            $('.message').fadeOut('slow');#}
{#            }, 10000);#}
{##}
{##}
{#         });#}
{##}
{##}
{#    </script>#}


