{% load staticfiles %}


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">




    <!--<script src="{% static 'js/load.js' %}" type="text/javascript" async="async"></script>-->


    <!--Bootstrap-->
    <link href="{% static 'js/bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!--CSS Generales-->
    <link rel="stylesheet" type="text/css" href="{% static 'styleRusc.css' %}" >
    <!-- CSS Notificacións -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/notifIt.css' %}">

    <!--Jquey / UI-->
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.11.4/jquery-ui.css' %}">

    <!--<link href="{% static 'tagulous/lib/select2-3/select2.css' %}" rel="stylesheet">-->

    <script  src="{% static 'admin/js/vendor/jquery/jquery.js' %}" ></script>
    <!--<script  src="{% static 'tagulous/lib/select2-3/select2.min.js' %}" ></script>-->
    <!--<script  src="{% static 'tagulous/tagulous.js' %}" ></script>-->
    <!--<script  src="{% static 'tagulous/adaptor/select2-3.js' %}" ></script>-->
    <!--<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>-->

    <script  src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}" ></script>

    <script src='//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js'></script>

    <script  src="{% static 'js/notifIt.js' %}" ></script>

    <link rel="stylesheet" href="{% static 'js/tablesorter-master/themes/green/style.css' %}">

    <link href="{% static 'js/fullcalendar-3.4.0/fullcalendar.css' %}" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/menubar.css' %}">

    <script  src="{% static 'js/fullcalendar-3.4.0/fullcalendar.min.js' %}" ></script>
    <script src="{%  static 'js/fullcalendar-3.4.0/locale/ca.js' %}" ></script>

    <script  src="{% static 'js/tablesorter-master/jquery.tablesorter.js' %}" ></script>

    <script  src="{% static 'js/comanda.js' %}"></script>

    <script src="{% static 'js/menubar.js' %}"></script>

    <script  src="{% static 'js/generic.js' %}"></script>




