{% load staticfiles %}


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta charset="UTF-8">


    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>

    <!--Bootstrap-->
    <link href="{% static 'js/bootstrap-3.3.7/css/bootstrap.min.css' %}" rel="stylesheet">

    <script src="{% static 'js/bootstrap-3.3.7/js/bootstrap.min.js' %}"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <!--CSS Generales-->
    <link rel="stylesheet" type="text/css" href="{% static 'styleRusc.css' %}" />
    <!-- CSS Notificacións -->
    <script  src="{% static 'js/notifIt.js' %}" ></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/notifIt.css' %}">


    <!--JS Generales-->
    <script  src="{% static 'js/generic.js' %}" ></script>

    <!--Jquey / UI-->
    <link rel="stylesheet" href="{% static 'js/jquery-ui-1.11.4/jquery-ui.css' %}">
    <script src="{% static 'js/jquery-ui-1.11.4/jquery-ui.js' %}"></script>

    <script>
    $(function() {
        $( "#datepicker" ).datepicker({ dateFormat: 'dd/mm/yy' });
    });
    </script>


    <link href="{% static 'js/fullcalendar-3.3.1/fullcalendar.css' %}" rel="stylesheet">
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
    <script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
    <script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>


<script type="text/javascript" src="{%  static 'js/tablesorter-master/jquery.tablesorter.js' %}"></script>
    <link rel="stylesheet" href="{% static 'js/tablesorter-master/themes/green/style.css' %}">




    <script>

        $( function endLoading() {
            document.getElementById( 'loading' ).style.display = 'none';
            document.getElementById('page-content-wrapper').style.visibility = 'visible'
{#            document.getElementsByClassName( 'loader' ).style.display = 'none';#}
{#            $("#back_img").style.display= "none";#}
{#            $(".loader").style.display = 'none';#}

        });

    $(function() {

        $( "#accordion" ).accordion();

        $("#myTable").tablesorter();

        $("#myTable2").tablesorter();

    $( "#dialog" ).dialog({
  position: { my: "right top", at: "right top+75", of: "#page-content-wrapper"},
        maxWidth: 800

});

    });

    </script>