{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% csrf_token %}
{% block headers %}
    <script src="{% static 'js/comanda.js' %}"></script>
{% endblock %}



{% block content %}




    <div id="recurs_wraper" style="display: inline-block; margin:0px; ">

        <div id="div_recurs"  style="display: block ">
            <div class="thumbnail">




                    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUirWAP7iFxFp7W1jmhoTrOYzZ-Z2sYZ8&callback=initMap"
    async defer></script>

<script>



      var map;
      var polygons = [];
      function initMap() {
        var aa = '{{ node.position.latitude }}';
        var aaa =  aa.replace(",",".");
        var bb = '{{ node.position.longitude }}';
        var bbb =  bb.replace(",",".");
        var mollet = new google.maps.LatLng(aaa, bbb);

        map = new google.maps.Map(document.getElementById('map'), {
          center: mollet,
          zoom: 15,
{#          mapTypeId: 'satellite'#}
        });

          $.post("/allcoordenades/", function(data) {
              var i = 0;
              var marker = [];
              var image = '/static/img/u-pick_stand.png'
              var img_domicili = '/static/img/vespa.png'
              data.forEach( function(arrayItem)
				{
                    var contentString = '<div id="content">'+
                          '<div id="siteNotice">'+
                          '</div>'+
                          '<h1 id="firstHeading" class="firstHeading">Uluru</h1>'+
                          '<div id="bodyContent">'+
                          '<p><b>Uluru</b>, also referred to as <b>Ayers Rock</b>, is a large ' +
                          'sandstone rock formation in the southern part of the '+
                          'Northern Territory, central Australia. It lies 335&#160;km (208&#160;mi) '+
                          'south west of the nearest large town, Alice Springs; 450&#160;km '+
                          '(280&#160;mi) by road. Kata Tjuta and Uluru are the two major '+
                          'features of the Uluru - Kata Tjuta National Park. Uluru is '+
                          'sacred to the Pitjantjatjara and Yankunytjatjara, the '+
                          'Aboriginal people of the area. It has many springs, waterholes, '+
                          'rock caves and ancient paintings. Uluru is listed as a World '+
                          'Heritage Site.</p>'+
                          '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
                          'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
                          '(last visited June 22, 2009).</p>'+
                          '</div>'+
                          '</div>';

                      var infowindow = new google.maps.InfoWindow({
                        content: contentString
                      });





                    var place = new google.maps.LatLng(arrayItem.Lat, arrayItem.Lng);
                    if (arrayItem.a_domicili == "True"){
                        marker[i] = new google.maps.Marker({
                          position: place,
                          title: "A Domicili",
{#                          style: {float: left},#}
{#                          labelStyle: {opacity: 0.8, padding: 20px},#}
                          map: map,
                          icon: img_domicili
                    });
                    }else{
					    marker[i] = new google.maps.Marker({
                          position: place,
                          title: arrayItem.nom,
{#                          style: {float: left},#}
{#                          labelStyle: {opacity: 0.8, padding: 20px},#}
                          map: map,
                          icon: image
                    });
                        }
                      marker[i].addListener('click', function() {
                        infowindow.open(map, marker[i]);
                      });

					i++;
				});

          });

          // Define the LatLng coordinates for the polygon's path.
        var triangleCoords = [
          {lat: 41.545431, lng: 2.195419},
          {lat: 41.552119, lng: 2.221884},
          {lat: 41.536294, lng: 2.227637},
          {lat: 41.526672, lng: 2.200995}
        ];

        var triangleCoords2 = [
          {lat: 41.520636, lng: 2.248667},
          {lat: 41.522171, lng: 2.259459},
          {lat: 41.517448, lng: 2.261884},
          {lat: 41.513495, lng: 2.257088}
        ];

        // Construct the polygon.
          polygons.push(new google.maps.Polygon({
          paths: triangleCoords,
          strokeColor: '#FF0000',
          strokeOpacity: 0,
          strokeWeight: 2,
          fillColor: '#FF0000',
          fillOpacity: 0.15
        }));
          polygons[polygons.length-1].setMap(map);

          polygons.push(new google.maps.Polygon({
          paths: triangleCoords2,
          strokeColor: '#FF0000',
          strokeOpacity: 0,
          strokeWeight: 2,
          fillColor: '#FF0000',
          fillOpacity: 0.15
        }));



        polygons[polygons.length-1].setMap(map);






 }



//CSRF TOKEN FOR JS


// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});



</script>


        <b>Lloc d'entrega:</b> <h2>{{ node.nom }}</h2>
                <h3>{{ node.poblacio }}</h3>


            <div id="map" name="map" ></div>



                <p>{{ node.text }}</p>

         <b> Frequencia: </b>  {{ node.get_frequencia.nom }}<br/><br/>
<b>Proxims dies d'entrega:</b> <br/>
                {% for i in node.prox_dias  %}
                    <table border = 1>
                    <tr>
                    <td>
                        {{ i.dia }}  &nbsp; &nbsp;{{ i.date.date }}&nbsp; &nbsp;
                    </td>
                        {% for f in i.franjes_horaries.all %}
                            <td>
                             &nbsp; {{ f.inici }} - {{ f.final }} &nbsp;
                            </td>
                        {% endfor %}
                    </tr>
                    <br/>
                    </table>
                {% endfor %}
<br/>





            <br />

            <a  href="{% url 'comandes' %}"> Tornar a les comandes </a>
            </div>

         <br />
         <br />
        </div>


    </div>

     <br />
     <br />



{% endblock %}










