{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% block headers %}
    <script src="{% static 'js/jquery-2.1.4.js' %}"></script>
    <script>
 jQuery(document).ready(function($) {
	$(".register_user_form").submit(function(e){
        e.preventDefault();
        $.post("/nodesave/", $(this).serializeArray(), function(data) {
                if (data == "OK"){
                    var registerModal = document.getElementById('registerModal');
                    var accordion = document.getElementById('accordion');
                    registerModal.style.display = "none";
                    accordion.style.display = "inherit";
                 }
          });
	})
    });
    </script>
{% endblock %}
{% load staticfiles %}
{% block modals %}
    {% include "register_modal.html" %}
{% endblock %}
{% block content %}
    <script>
      $( function() {
        $( "#accordion" ).accordion();
      } );
    </script>
    <div>
        {% if message %}
            <div class="thumbnail" >
                <span class="glyphicon glyphicon-info-sign"> {{ message }} </span>
            </div>
        {% endif %}
    </div>
    <div id="accordion">
        <h3><a href="{% url 'coope' %}"> Benvingut <span class='glyphicon glyphicon-music'></span> </a></h3>
      <div>
        <p> "La Massa" és el punt de trobada online de productors i consumidors locals. <br/><br/>
          Trobaras productes artesans de proximitat, saludables i respectuosos amb el medi ambient. Elaborats en un entorn radicalment cooperatiu.</p><br/>
        </p>
        <form action="{% url 'coope' %}">
          <button><span class="glyphicon glyphicon-grain"><input type="submit" value="Entrar a la xarxa"></span></button>
        </form>
    </div>
    <h3><a href="{% url 'coope' %}"> <span class="glyphicon glyphicon-shopping-cart"></span> Com comprar ? </a></h3>
    <div>
        Ves a la pantalla principal clicant <a href="{% url 'coope' %}"><span class="glyphicon glyphicon-home"></span></a>, allà trobaràs tots els productes disponibles. Pots triar el format, la quantitat i començar la compra
        <a href="{% url 'coope' %}"><span class="glyphicon glyphicon-home"></span></a>
        </br><br/></br>
        <form action="{% url 'coope' %}">
          <button><span class="glyphicon glyphicon-grain"><input type="submit" value="Entrar a la xarxa"></span></button>
        </form>
    </div>
    <h3><a href="{% url 'comandes' %}"><span class="glyphicon glyphicon-shopping-cart"></span> Com gestiono els encàrrecs ?</a></h3>
    <div>
        <p>
            A la gestió de comandes pots accedir sempre des del menú de l'esquerra a través del botó <a href="{% url 'comandes' %}"><span class="glyphicon glyphicon-shopping-cart"></span></a><br/>
        Permet borrar les comandes que ja no desitjis.
        També pots consultar les entregues rebudes en el passat, així com consultar els detalls de cada una d'elles
        </p>
      </br></br>
          <form action="{% url 'coope' %}">
                <button><span class="glyphicon glyphicon-grain"><input type="submit" value="Entrar a la xarxa"></span></button>
          </form>
    </div>
    <h3><a href=""> <span class="glyphicon glyphicon-road"></span> A on arriba la comanda ? </a></h3>
    <div>
        Al punt de trobada que escullis entre els espais que han creat les cooperatives de consum, els grups, les families i els consumidors<br/><br/><br/></br>
        <form action="{% url 'coope' %}">
          <button><span class="glyphicon glyphicon-grain"><input type="submit" value="Entrar a la xarxa"></span></button>
        </form>
    </div>
    <h3><a href=""> <span class='glyphicon glyphicon-euro collapsed-element'></span> Com es fa el pagament ? </a></h3>
    <div>
        <p>
    Com decideixi la cooperativa de consum. No es fan pagaments via web.
        </p> </br></br>
          <form action="{% url 'coope' %}">
            <button><span class="glyphicon glyphicon-grain"><input type="submit" value="Entrar a la xarxa"></span></button>
          </form>
    </div>
    <h3><a href="{% url 'convidar' %}"> <span class='glyphicon glyphicon-globe collapsed-element'></span> Com puc convidar nous usuaris a la xarxa ? </a></h3>
    <div>
        <p>
        Pots convidar nous usuaris a la xarxa clicant el botó <a href="{% url 'convidar' %}"><span class='glyphicon glyphicon-bullhorn collapsed-element'></span></a>
    que sempre trobaràs en el menú esquerra
        </p></br></br>
        <form action="{% url 'coope' %}">
            <button><span class="glyphicon glyphicon-grain"><input type="submit" value="Entrar a la xarxa"></span></button>
        </form>
    </div>
</div>
{% endblock %}