{% extends "base.html" %}
{% load i18n %}
{#{% load staticfiles %}#}
{#{% csrf_token %}#}
{% block headers %}
    <script>
 jQuery(document).ready(function($) {





        // When the user clicks anywhere outside of the modal, close it


{#        window.onclick = function (event) {#}
{#            var modal = document.getElementById('myModal');#}
{#            if (event.target == modal) {#}
{#                modal.style.display = "none";#}
{#            }#}
{#        }#}
{#var accordion = document.getElementById('accordion');#}
{#     accordion.style.display = "none";#}
{#var registerModal = document.getElementById('registerModal');#}
{#     registerModal.style.display = "block";#}
	$(".register_user_form").submit(function(e){
        e.preventDefault();
        $.post("/nodesave/", $(this).serializeArray(), function(data) {
                if (data == "OK"){
                    var registerModal = document.getElementById('registerModal');
                    var accordion = document.getElementById('accordion');
                    registerModal.style.display = "none";
                    accordion.style.display = "inherit";
                 }

          });

	})



    });
    </script>
{#    <script src="{% static 'js/comanda.js' %}"></script>#}
{% endblock %}
{% load staticfiles %}




{% block modals %}

    {% include "register_modal.html" %}


{% endblock %}



{% block content %}




  <script>
  $( function() {
    $( "#accordion" ).accordion();
  } );

{#  $(".domicili_form").submit(function(){#}
{#      $.post("/domiciliar/", $(this).serializeArray(),function(data){#}
{##}
{#          CallNotification(data)#}
{##}
{#        });#}
{#  })#}
  </script>

    <div>
        {% if message %}

                <div class="thumbnail" >
            <span class="glyphicon glyphicon-info-sign"> {{ message }} </span>
            </div>
        {% endif %}
    </div>

    <div id="accordion">
        <h3><a href="{% url 'coope' %}"> Benvingut <span class='glyphicon glyphicon-music'></span> </a></h3>
      <div>

    <br/>

        <p> La majoria de l'abastiment d'aliments està controlat per les grans corporacions. L'horitzó de les quals es purament el benefici,si fa falta contra el nostre propi benestar.<br/><br/>

            D'altra banda, varis grups de petits productors i consumidors mantenen un intercanvi diferent, basat en el mutualisme, la qualitat i la proximitat dels aliments. Amb la intenció de reforçar
            aquesta xarxa neix aquesta plataforma web. <br/><br/>
            Tots els productes que podràs trobar aquí són productes artesans de proximitat, saludables i respectuosos amb el medi ambient. Elaborats en un entorn radicalment cooperatiu.
            <div class="img-responsive">
             <a href="{% url 'coope' %}">
        <img src="{% static "img/benvinguda.png" %}" width="550px" height="300px" ></a>
      </div>

            <br/><br/>
    </p><form action="{% url 'coope' %}">
          <button><span class="glyphicon glyphicon-grain"><input type="submit" value="Entrar a la xarxa"></span></button>
          </form>
  </div>
  <h3><a href="{% url 'coope' %}"> <span class="glyphicon glyphicon-shopping-cart"></span> Com comprar ? </a></h3>
  <div>

<br/>


        Quan entris a la xarxa trobaràs tots els productes . Allà mateix pots triar el format i la quantitat que necessitis i adquirir-ho clicant el carret de la compra.
      Per cada producte hi pot haver diferents formats. Pica el desplegable i descobreix-ho. Recorda fer la comanda almenys 2 dies abans del dia que vulguis rebre-ho.
        <a href="{% url 'coope' %}"><span class="glyphicon glyphicon-home"></span></a>
        </br>
        <div class="img-responsive">
             <a href="{% url 'coope' %}">
        <img src="{% static "img/comcomprar.png" %}" width="550px" height="300px" ></a>
      </div>


      <form action="{% url 'coope' %}">
          <button><span class="glyphicon glyphicon-grain"><input type="submit" value="Entrar a la xarxa"></span></button>
          </form>

  </div>
  <h3><a href="{% url 'comandes' %}"><span class="glyphicon glyphicon-shopping-cart"></span> Com gestiono els encàrrecs ?</a></h3>
  <div>
    <p>
        A la visualitzacio de comandes i entregues pots borrar les comandes que ja no desitjis (minim 2 dies abans de l'entrega). També
    pots consultar les entregues rebudes en el passat. Així com consultar tots els detalls de cada una d'elles  <a href="{% url 'coope' %}"><span class="glyphicon glyphicon-shopping-cart"></span></a>
    </p>
      <div class="img-responsive" >
             <a href="{% url 'comandes' %}">
        <img src="{% static "img/comandes.png" %}" width="550px" height="300px"  ></a>
      </div> </br>
            <form action="{% url 'coope' %}">
          <button><span class="glyphicon glyphicon-grain"><input type="submit" value="Entrar a la xarxa"></span></button>
          </form>
  </div>
  <h3><a href=""> <span class="glyphicon glyphicon-road"></span> A on arriba la comanda ? </a></h3>
  <div>

    Pots triar entre els diferents espais que han anat creant les Cooperatives de consum, els grups, les families, els consumidors i els productors.<br/> Actualment:
                <br/>


{% for n in nodes %}
    {{ n.nom }}&nbsp; a &nbsp; {{ n.poblacio }}, &nbsp;
{% endfor %}

                <br/><br/>
  <div class="img-responsive">
             <a href="{% url 'convidar' %}">
        <img src="{% static "img/aonarriba.png" %}" width="550px" height="300px"  ></a>
      </div> </br>
            <form action="{% url 'coope' %}">
          <button><span class="glyphicon glyphicon-grain"><input type="submit" value="Entrar a la xarxa"></span></button>
          </form>
  </div>
  <h3><a href=""> <span class='glyphicon glyphicon-euro collapsed-element'></span> Com es fa el pagament ? </a></h3>
  <div>
    <p>

    El pagament es sol fer quan es fa l'intercanvi en el punt de trobada.
    </p> </br>
            <div class="img-responsive">
             <a href="{% url 'convidar' %}">
        <img src="{% static "img/convida.png" %}" width="550px" height="300px"  ></a>
      </div> </br>
          <form action="{% url 'coope' %}">
          <button><span class="glyphicon glyphicon-grain"><input type="submit" value="Entrar a la xarxa"></span></button>
          </form>
  </div>
  <h3><a href="{% url 'convidar' %}"> <span class='glyphicon glyphicon-globe collapsed-element'></span> Com puc convidar nous usuaris a la xarxa ? </a></h3>
  <div>
    <p>
        Pots convidar nous usuaris a la xarxa clicant el botó <a href="{% url 'convidar' %}"><span class='glyphicon glyphicon-globe collapsed-element'></span></a>
    que sempre trobaràs en el menú esquerra
    </p> </br>
            <div class="img-responsive">
             <a href="{% url 'convidar' %}">
        <img src="{% static "img/convida.png" %}" width="550px" height="300px"  ></a>
      </div> </br>
          <form action="{% url 'coope' %}">
          <button><span class="glyphicon glyphicon-grain"><input type="submit" value="Entrar a la xarxa"></span></button>
          </form>
  </div>
</div>

{% endblock %}