{% extends "base.html" %}
{% load romani_tags %}
{#{% load next_day %}#}
{% load i18n %}
{% load staticfiles %}
<!--{% csrf_token %}-->
{% block headers %}
{% endblock %}
{% block modals %}
    {% include "comanda_modal.html" %}
{% endblock %}
{%  block content %}

    <div style="margin: 0 auto; text-align:center;">
                    {% for etq in etiquetes %}
                        <div style=" position: relative; display: inline-block; ">
                                <a href="{% url 'etiqueta' etq.pk %} " class="btn btn-default btn-group-xs"
                                   style="width: auto; "  id="etq" name="etq" title="{{ etq.nom }}" >
                                    <span  style="background-image: url({{ etq.img.url }}); margin-left: 5px;
                                    margin-top: 5px; width:32px; height:32px;  position: absolute">
                                    </span>
                                    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br/><br/>
                                    <b id="pato" name="pato" class="pato"> {{ etq.nom }}</b>
                                 </a>
                        </div>
                    {% endfor %}
            <div style=" position: relative; display: inline-block; ">
              <a class='btn btn-default btn-group-xs' href="{% url 'busk' %}" title='Cercar'
               style="width: auto; "  id="etq" name="etq" title="{{ etq.nom }}">
                <span  style="background-image: url('/media/etiquetes/search.png'); margin-left: -15px;
                margin-top: 5px; width:32px; height:32px;  position: absolute"></span>
                <br/><br/>
                <b id="pato" name="pato" class="pato">Cerca</b>
              </a>
            </div>
    </div>
    <br/>

    {% for producte in productes %}
      <div class="col-lg-4 col-md-6 col-xs-12 col-sm-6" >
        <div class="thumbnail" >



                 <div class="prodxx" style="font-family: 'Satisfy';font-size: 1.7em;
                     display: inline-block" >
                 <p><a href="{% url 'producte'  producte.pk  %}" style="color: #333;" title="Visualitzar en detall el producte" > {{ producte.nom }}
                 </a></p></div>

                 <div class="prodxx" style="display: inline-block; float:right;">
                    <p>
                    <a href="{% url 'productor'  producte.productor.pk  %}" title="Visualitzar productor" style="color: #333; font-family:  'Satisfy'; font-size: larger;">
                            {{ producte.productor.nom }}</a>
                    </p>
                 </div>


                 {% if producte.foto %}
                    <a href="{% url 'producte'  producte.pk  %}" >
                    <div class="g-item" style="background-image:url('{{ producte.thumb.url }}');" >
                        </div>
                    </a>
                 {% endif %}

                 <!--<div class="xxent" style="background-color:#FFFFFF; display: block">-->
                    <!--<p id="entradilla" name="entradilla" >{{ producte.text_curt }}</p>-->
                 <!--</div><br />-->

                {% if not up.lloc_entrega.nomes_seguent  %}
                     <form method="post"  class="comanda_form">{% csrf_token %}
                             <input type="hidden" id="id_producte" name="producte" class="hidden_id" value="{{ producte.pk }}" />
                             <div  style="width:100%; display: inline-block; position: relative">
                                Cantitat:
                                <input type="number" id="id_cantitat" name="cantitat" class="hidden_id"  value="1" style="width: 50px"/>
                                de <br/>
                                <select id="id_format" name="format" class="hidden_id form-control" style="width: 100% float:right" >
                                    {% for tipusproducte in producte.formats.all %}
                                        {% if tipusproducte in formats %}
                                            <option value= {{ tipusproducte.pk }} > {{ tipusproducte.preu }}€ &nbsp; {{ tipusproducte.nom }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <div style="padding-top: 10px">
                                    <div style="float: left; font-family: 'Barrio'">
                                        <div style="background-color: #f6a828; float: right " title="Próxima entrega">
                                        <span class="glyphicon glyphicon-time" ></span>Entrega en {%  next_day producte up.lloc_entrega %}</div>
                                    </div>
                                    <div style="float: right;">
                                     <button class="glyphicon glyphicon-shopping-cart" id="id_carro" title="Fer comanda">
                                     </button>
                                    </div>
                                </div>
                             </div>
                     </form>

                {% else %}

                       <form method="post" class="comanda2_form">{% csrf_token %}
                           <input type="hidden" id="producte_pk" name="producte_pk" class="form-control"  value="{{ producte.pk }}"/>
                           <br/><br/>

                           <input type="hidden" id="dataentrega" name="dataentrega" value="{{ up.lloc_entrega.prox_dia.pk }}">
                           <input type="hidden" id="franjes" name="franjes" value="{{ up.lloc_entrega.prox_dia.franja_inici.pk }}">
                           <label for="lloc_entrega" class="lloc_entrega_lbl" style="display: none" >Lloc d'entrega:</label>
                           <select id="lloc_entrega" name="lloc_entrega" class="lloc_entrega form-control" style="display: none" >
                                 {% for lloc in nodes %}
                                {%  if lloc.pk == up.lloc_entrega.pk %}
                                        <option value="{{ lloc.pk }}" selected>{{ lloc.nom }} / {{ lloc.poblacio }} </option>
                                    {% else %}
                                        <option value="{{ lloc.pk }}">{{ lloc.nom }} / {{ lloc.poblacio }} </option>
                                    {% endif %}
                               {% endfor %}
                           </select>
                           <div  style="width:100%; display: inline-block; position: relative">
                                Cantitat:
                                <input type="number" id="cantitat_t" name="cantitat_t" class="hidden_id"  value="1" style="width: 50px"/>
                                de <br/>
                                <select id="format_pk" name="format_pk" class="hidden_id form-control" style="width: 100% float:right" >
                                    {% for tipusproducte in producte.formats.all %}
                                        {% if tipusproducte in formats %}
                                            <option value= {{ tipusproducte.pk }} > {{ tipusproducte.preu }}€ &nbsp; {{ tipusproducte.nom }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                                <div style="float: right; padding-top: 10px">
                                    <button id="aceptar" type="submit"title="Fer comanda">
                                        <span class="glyphicon glyphicon-shopping-cart">
                                        </span>
                                    </button>
                                </div>
                            </div>

                           <label id="frequencia_label" for="frequencia" style="display: none">Freqüència:</label>
                           <select id="frequencia" name="frequencia" class="form-control" style="display: none">
                               <option selected></option>
                           </select>
                       </form>

                    {% endif %}

        </div>
      </div>
    {% endfor %}

{% endblock %}



{% block footer %}

    <div class="pagination" style="
    background-color: #bce0b9;">
        <span class="step-links">
            {% if productes.has_previous %}
                <a href="?page={{ productes.previous_page_number }}">anterior</a>
            {% endif %}

            <span class="current">
                Pàgina {{ productes.number }} de {{ productes.paginator.num_pages }}
            </span>

            {% if productes.has_next %}
                <a href="?page={{ productes.next_page_number }}">següent</a>
            {% endif %}
        </span>
    </div>

{% endblock %}