{% extends "base.html" %}
{% load romani_tags %}
{% load i18n %}
{% load staticfiles %}
{% csrf_token %}
{% block headers %}
    <script src="{% static 'js/comanda.js' %}"></script>
{% endblock %}
{% block modals %}
        {% include 'comanda_modal.html' %}
{% endblock %}
{% block content %}
    <div id="recurs_wraper" style="display: inline-block; margin:0px; width: 100%">
        <div id="div_recurs"  style="display: block ">
            <div     class="thumbnail">
                <div style="float: right; position: absolute; z-index: 1; top: 0px; right: 0px; font-family: 'Barrio'">
                    <div style="background-color: #f6a828; float: right " title="Próxima entrega">
                    <span class="glyphicon glyphicon-time" ></span> {% next_day producte up.lloc_entrega %}</div>
                    <div style="background-color: #ff947a; color: black; float: right" title="Vots negatius">
                    <span class="glyphicon glyphicon-thumbs-down" ></span> {{ producte.negative_votes }} &nbsp;</div>
                    <div style="background-color: #8ae090; color: white; float: right" title="Vots positius">
                    <span class="glyphicon glyphicon-thumbs-up" ></span> {{ producte.positive_votes }} &nbsp;</div>
                </div>
                {% if producte.foto %}
                    <a href="{{ MEDIA_URL }}{{ producte.foto.url }}" >
                        <div class="foto-producte" style="background-image:url('{{ producte.foto.url }}');" ></div>
                    </a>
                {% endif %}
                <h2 >{{ producte.nom }} </h2>
                <a href="{% url 'productor' producte.productor.pk %}" > <h3>{{ producte.productor }}</h3></a>
                <a href="{% url 'messages_compose_to' producte.productor.responsable.first %}" title="Enviar missatge al productor">
                Enviar missatge al productor <span class="glyphicon glyphicon-comment" style="color: #f6a828"></span></a><br/><br/>
                <div >
                            {{ producte.text_curt }}
                </div><br />
                <div class="thumbnail">
                    <form method="post"  class="comanda_form">{% csrf_token %}
                         <input type="hidden" id="id_producte" name="producte" class="hidden_id" value="{{ producte.pk }}" />
                         <input type="hidden" id="id_producte_nom" name="producte_nom" class="hidden_id" value="{{ producte.nom }}" />
                         <input type="hidden" id="id_client" name="client" class="hidden_id" value="{{ user.pk }}" />
                         <input type="hidden" id="id_lloc_entrega" name="lloc_entrega" class="hidden_id" value="{{ up.lloc_entrega.pk }}" />
                         <input type="hidden" id="franja_horaria" name="franja_horaria" class="hidden_id" value="{{ up.lloc_entrega.pk }}"/>
                         <input type="hidden" id="id_preu" name="preu" class="hidden_id" value="{{ tipusproducte.preu }}" />
                        Cant:
                             <input type="number" id="id_cantitat" name="cantitat" class="hidden_id"  value="1" style="width: 45px"/>
                        de
                        <select id="id_format" name="format" class="hidden_id">
                            {% for tipusproducte in producte.formats.all %}
                                {% if tipusproducte in formats %}
                                    <option value= {{ tipusproducte.pk }} > {{ tipusproducte.preu }}€ &nbsp; {{ tipusproducte.nom }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                         {% if not user.is_authenticated %}
                             <button class="glyphicon glyphicon-shopping-cart" id="id_carro" style=" ">
                            </button>
                         {% else %}
                             <button class="glyphicon glyphicon-shopping-cart" id="id_carro" style=" ">
                             </button>
                         {% endif %}
                    </form>
                </div>
                {{ producte.descripcio|linebreaks }}<br />
                <br />
                {% if producte.keywords %}
                    <b>Paraules clau: &nbsp; </b> {{ producte.keywords }} <br/><br/>
                {% endif %}
                <a href="{% url 'coope' %}"> Tornar a la botiga </a>
            </div><br/><br/>
        </div>
    </div><br/><br/>
{% endblock %}