
{% load staticfiles %}
<script src="{% static 'js/jquery-2.1.4.js' %}"></script>
{#<script src="{% static 'js/comanda.js' %}"></script>#}
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDUirWAP7iFxFp7W1jmhoTrOYzZ-Z2sYZ8&callback=initMap"
async defer></script>
<script>
      var map;
      var marker_d;
      function initMap() {
          var mollet = new google.maps.LatLng(41.4, 2.14);
          map = new google.maps.Map(document.getElementById('map'), {
              center: mollet,
              zoom: 10,
              {#          mapTypeId: 'satellite'#}
          });
          $.post("/allcoordenades/", function (data) {
              var i = 0;
              var marker = [];
              var image = '/static/img/u-pick_stand.png'
              var img_domicili = '/static/img/vespa.png'
              data.forEach(function (arrayItem) {
                  var contentString = '<div id="content">' +
                          '<div id="siteNotice">' +
                          '</div>' +
                          '<h1 id="firstHeading" class="firstHeading">' +
                          arrayItem.nom +
                          '</h1>' +
                          '<div id="bodyContent">' +
                          '<p><b>' +
                          arrayItem.nom +
                          '</b>,' +
                          arrayItem.text +
                          '</p>' +
                          '</div>' +
                          '</div>';
                  var infowindow = new google.maps.InfoWindow({
                      content: contentString
                  });
                  var place = new google.maps.LatLng(arrayItem.Lat, arrayItem.Lng);
                  if (arrayItem.a_domicili == "True") {
                      marker[i] = new google.maps.Marker({
                          position: place,
                          title: "A Domicili",
                          map: map,
                          icon: img_domicili
                      });
                  } else {
                      marker[i] = new google.maps.Marker({
                          position: place,
                          title: arrayItem.nom,
                          map: map,
                          icon: image
                      });
                  }
                  marker[i].addListener('click', function () {
                      infowindow.open(map, marker[i]);
                  });
                  i++;
              });
          });
      }

//CSRF TOKEN FOR JS


// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');

function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});



jQuery(document).ready(function($) {

    var llocpk;
    $.post("/nodes_nou_usuari/",function(data){
    var llocentrega = document.getElementById("lloc_entrega");
    var carrer = document.getElementById('carrerx');
    var numero = document.getElementById('numerox');
    var pis = document.getElementById('pisx')
    var poblacio = document.getElementById('poblaciox');
    //var geopuntx = document.getElementById('geo_punt');
{#    var punt_lat = document.getElementById('punt_latx');#}
{#    var punt_lng = document.getElementById('punt_lngx');#}
    var j = 0;
    data.forEach(function(arrayItem)
    {   if(arrayItem.selected=="True"){
            s = arrayItem.nom + "/" + arrayItem.poblacio;
            llocentrega.options[j] = new Option(s, arrayItem.pk, false, true);
            llocpk = arrayItem.pk;
            if(arrayItem.a_domicili == true){
                        poblacio.value = arrayItem.poblacio;
                        carrer.readOnly = false;
                        numero.readOnly = false;
                        pis.readOnly = false;
                        poblacio.readOnly = true;
                        carrer.value = "";
                        numero.value = "";
                        pis.value = "";
{#                        punt_lat.value = "";#}
{#                        punt_lng.value = "";#}
            }else{
                        carrer.value = arrayItem.carrer;
                        numero.value = arrayItem.numero;
                        pis.value = arrayItem.pis;
                        poblacio.value = arrayItem.poblacio;
{#                        lat = arrayItem.punt_lat;#}
{#                        lng = arrayItem.punt_lng;#}
{#                        punt_lat.value = lat;#}
{#                        punt_lng.value = lng;#}
                        carrer.readOnly = true;
                        numero.readOnly = true;
                        pis.readOnly = true;
                        poblacio.readOnly = true;
{#                        punt_lat.readOnly = true;#}
{#                        punt_lng.readOnly = true;#}
                }
        }else{
            s = arrayItem.nom + "/" + arrayItem.poblacio;
            llocentrega.options[j] = new Option(s, arrayItem.pk, false, false );
            }
        j++;
    })
    });
    $.post("/horari/", function(data) {
            var acc = document.getElementById('accordionx');
            var j;
            var h;
            var b;
            var t = "";
            var g;
            data.forEach( function (arrayItemx){
                h = arrayItemx.dia;
                g = "<div>"
                arrayItemx.franjes.forEach( function (arrayItem)
                {
                    g = g + "&nbsp;" + arrayItem.inici + "-" + arrayItem.final + "<br/>";
                });
                t = t + h + g + "</div>";
            });
            t = t + "</div>";
            acc.innerHTML = t;
    });



    $(".lloc_entrega").change(function(e){

        var carrer = document.getElementById('carrerx');
        var numero = document.getElementById('numerox');
        var pis = document.getElementById('pisx');
        var poblacio = document.getElementById('poblaciox');
        var punt_lat = document.getElementById('punt_latx');
        var punt_lng = document.getElementById('punt_lngx');
        var freq = document.getElementById('freq');
        $.post("/domicili/", $(this).serializeArray(),
            function (data) {
                if ( data["a_domicili"] == true){
                    carrer.readOnly = false;
                    numero.readOnly = false;
                    pis.readOnly = false;
                    poblacio.readOnly = true;
{#                    punt_lat.readOnly = false;#}
{#                    punt_lng.readOnly = false;#}
                    poblacio.value = data["poblacio"];
                    carrer.value = "";
                    numero.value = "";
                    pis.value = "";
{#                    punt_lat.value = "";#}
{#                    punt_lng.value = "";#}
                }else{
                    carrer.value = data["carrer"];
                    numero.value = data["numero"];
                    pis.value = data["pis"];
                    poblacio.value = data["poblacio"];
{#                    lat = data["geopuntx_lat"];#}
{#                    lng = data["geopuntx_lng"];#}
{#                    punt_lat.value = lat;#}
{#                    punt_lng.value = lng;#}
                    carrer.readOnly = true;
                    numero.readOnly = true;
                    pis.readOnly = true;
                    poblacio.readOnly = true;
{#                    punt_lat.readOnly = true;#}
{#                    punt_lng.readOnly = true;#}
                }
                freq.innerHTML = "(" + data["frequencia"] + ")";
            });
        var acc = document.getElementById('accordionx');
        $.post("/horari/", $(this).serializeArray(),
                function (data) {
                    var j;
                    var h;
                    var b;
                    var t = "";
                    var g;
					if(data == "Fail"){
						t = "<div>";
					}else{
                    data.forEach( function (arrayItemx){
                        h = arrayItemx.dia;
                        g = "<div>"
                        arrayItemx.franjes.forEach( function (arrayItem)
                        {
                            g = g + "&nbsp;" + arrayItem.inici + "-" + arrayItem.final + "<br/>";
                        });
                        t = t + h + g + "</div>";
                    })
					}
                    t = t + "</div>";

                    acc.innerHTML = t;
					$( "#accordion" ).accordion( "refresh" );
            })
        $.post("/coordenades/", $("#lloc_entrega").serializeArray(), function (data) {

            var Lat = data["Lat"];
            var Lng = data["Lng"];
            LatLng = Lat + "," + Lng
            var location = new google.maps.LatLng(Lat, Lng);

            map.setCenter(location);
            map.setZoom(15);

        });
    });

});
</script>

<div id="registerModal" name="registerModal" class="registerModal" style="display: block">

  <!-- Modal content -->
  <div class="reg-modal-content">

        <h5><b>NOU USUARI:</b></h5>

        <p>T'hem enviat un email per comprovar el teu correu-e. <br/>
            Ara, si us plau, selecciona el punt de trobada preferit:</p>

       <form method="post" class="register_user_form">{% csrf_token %}
            <div class="thumbnail" >
                <label  for="lloc_entrega">Punt de trobada:</label>
                    <select id="lloc_entrega" name="lloc_entrega" class="lloc_entrega form-control">
                                <option></option>
                    </select> </br>
                    <div id="geodiv" name="geodiv" position="relative" style="float: right; ">
                            <div id="map"></div>
                            <br/>
{#                            <span class="glyphicon glyphicon-map-marker" style="float: right; position:relative;" >#}
{#                                Coord:<input type="text" id="punt_latx" style="max-width: 150px; float: right; position: relative" name="punt_latx" class="punt_lat"  placeholder="clica en el mapa (opcional)" />#}
{#                                <input type="text" id="punt_lngx" name="punt_lngx" style="max-width: 150px; float: right; position: relative" class="punt_lng" placeholder="clica en el mapa (opcional)" />#}
{#                            </span>#}
                    </div>
                    <b>Horari:</b>
                    <div id="freq" name="freq">({{ frequencia }})</div>
                    <div id="accordionx" name="accordionx" style="font-family: 'Special Elite', cursive; font-size: medium; "></div>
                    <br/>
                    </br>
                    <label style="font-weight: 500; float: left" for="carrer">Carrer: </label>
                    <input type="text"  id="carrerx" name="carrerx" class="carrerx form-control" style="max-width: 300px;padding-right: 1px" /><br/>
                    <label style="font-weight: 500; float: left" for="numero">Número:</label>
                    <input type="text"  id="numerox" name="numerox" class="numerox form-control" style="max-width: 300px;padding-right: 1px" /><br/>
                    <label style="font-weight: 500; float: left" for="pis">Pis:</label>
                    <input type="text"  id="pisx" name="pisx" class="pisx form-control" style="max-width: 300px;" /><br/>
                    <label style="font-weight: 500; float: left" for="poblacio">Població:</label>
                    <input id="poblaciox"  name="poblaciox" style="max-width: 300px;" class="poblaciox form-control" /><br/><br/>
                </br>
            </div>
            <button>Entrar</button>
       </form>
  </div>
</div>




