{% load static %}
{% load romani_tags %}
{% if user.is_authenticated %}
{#    <script type="text/javascript" >#}
{#        $(document).ready(function()#}
{#        {#}
{#            $("#notificationLink").click(function() {#}
{#                $("#notificationContainer").toggle();#}
{#                $("#notification_count").fadeOut("slow");#}
{#                return false;#}
{#            });#}
{#            //Document Click#}
{#            $(document).click(function() {#}
{#                $("#notificationContainer").hide();#}
{#            });#}
{#        });#}
{#    </script>#}
{#    {% notifications_unread as unread_count %}#}
    <!--<div style="float: left">-->
        <!--<a href="{% url 'edit_profile' %}" title="Perfil d'usuari">-->
            <!--{% if foto_user  %}-->
                <!--<img class="img-circle" src="{{ foto_user }}">-->
            <!--{% else %}-->
                <!--<img class="img-circle" src="{% static "img/fusta.jpg" %}">-->
            <!--{% endif %}-->
        <!--</a>-->
    <!--</div>-->
    &nbsp; &nbsp;
    <div style="float: right" id="userCorner">
            <a href="{% url 'edit_profile' %}" title="Perfil d'usuari"><span class='glyphicon glyphicon-user'></span> &nbsp;{{ user.username }}</a>
            <a href="{% url 'logout' %}?next=/" title="Tancar sessio"><span class="glyphicon glyphicon-log-out"></span></a><br />

            <!---->
            <a href="{% url 'messages_inbox' %}" title="Missatgeria">
                {% if unread_mes_count > 0 %}
                    <span id="unread_mes_count">{{ unread_mes_count }}</span>
                {% endif %}
                 <span class="glyphicon glyphicon-envelope">
                </span>
            </a>&nbsp; &nbsp;
        {% if request.user|has_group:"Productors" or request.user|has_group:"Nodes" %}
            <a href="   /forum/" title="Forum">

                 <span class="glyphicon glyphicon-comment">
                </span>
            </a>&nbsp; &nbsp;
        {% endif %}
    </div>
{% else %}
    <a href="{% url 'login' %}" title="login"><span class="glyphicon glyphicon-log-in"></span></a>
{% endif %}


