{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% csrf_token %}
{% block headers %}
{% endblock %}
{% block content %}
    <div id="recurs_wraper" style="display: inline-block; margin:0px; width: 100%">
        <div id="div_recurs"  style="display: block ">
            <div class="thumbnail">


        Nom complet: <h2>{{ userp.user.first_name }} {{ userp.user.last_name }}</h2>
                <br/>Usuari: <h3>{{ userp.user.username }}</h3>
                Correu-e: <h3>{{ userp.user.email }}</h3>
                 <!--<h3>{{ userp.poblacio }}</h3>-->

                 Node:<h3>{{ userp.lloc_entrega.nom }}</h3>
                a lamassa des de: <h3>{{ userp.user.date_joined }}</h3>

        <br/><br />
        </div>
         <br />
         <br />
        </div>
    </div><br /><br />

{% endblock %}









